

    <div class="card">

        <!-- datos del tomador y asegurado -->
        <div class="card">
            <div class="card-header text-center">
                <h2>DATOS DEL TOMADOR Y ASEGURADO</h2>
            </div>
            <div class="card-body">

                <div class="row">
                    <div class="col-lg border">
                        <div>
                            <strong>Tomador</strong>
                        </div>
                        <hr>
                        <div>
                            <strong>Asegurado</strong>
                        </div>
                    </div>
                    <div class="col-lg border">
                        <div>
                            <strong>Cédula de Identidad / R.I.F.</strong>
                        </div>
                        <hr>
                        <div>
                            <strong>Cédula de Identidad / R.I.F.</strong>
                        </div>
                    </div>
                </div>

                <div class="border">
                    <strong>Dirección del Tomador</strong>
                </div>

                <div class="row border">
                    <div class="col-lg ">
                        <strong>Estado</strong>
                    </div>
                    <div class="col-lg ">
                        <strong>Ciudad</strong>
                    </div>
                    <div class="col-lg ">
                        <strong>Zona Postal</strong>
                    </div>
                    <div class="col-lg ">
                        <strong>Teléfonos</strong>
                    </div>
                    <div class="col-lg ">
                        <strong>Fax</strong>
                    </div>
                </div>

                <div class="border">
                    <strong>Dirección del Asegurado</strong>
                </div>

                <div class="row border">
                    <div class="col-lg ">
                        <strong>Estado</strong>
                    </div>
                    <div class="col-lg">
                        <strong>Ciudad</strong>
                    </div>
                    <div class="col-lg ">
                        <strong>Zona Postal</strong>
                    </div>
                    <div class="col-lg ">
                        <strong>Teléfonos</strong>
                    </div>
                    <div class="col-lg ">
                        <strong>Fax</strong>
                    </div>
                </div>
                <div></div>
            </div>
        </div>

        <!-- datos de la poliza -->
        <div class="card">

            <div class="card-header text-center">
                <h2>DATOS DE LA PÓLIZA</h2>
            </div>

            <div class="card-body">

                <div class="row border">

                    <div class="col-lg">
                        <strong>Fecha de Suscripción</strong>
                    </div>

                    <div class="col-lg">
                        <strong>Vigencia</strong>
                    </div>

                    <div class="col-lg">
                        <strong>Moneda</strong>
                    </div>

                </div>

                <div class="row border">
                    <div class="col-lg">
                        <strong>Sucursal / Oficina</strong>
                    </div>
                    <div class="col-lg">
                        <strong>Canal de Venta</strong>
                    </div>
                    <div class="col-lg">
                        <strong>Frecuencia de Pago</strong>
                    </div>
                </div>

                <div class="row">
                    <div class="col-lg border">
                        <strong>Intermediario(s):</strong>
                    </div>
                    <div class="col-lg border">
                        <strong>Participación</strong>
                    </div>
                </div>

                <div></div>

            </div>
        </div>

        <!--  Asegurados Inscritos-->
        <div class="card">
            <div class="card-header text-center">
                <h2>Asegurados Inscritos</h2>
            </div>
            <div class="card-body">
                <div class="row">
                    <div class="col-lg border">
                        <strong>Apellido</strong> <br>
                        <strong>Cédula Identidad</strong> <br>
                        <strong>Parentesco</strong> <br>
                        <strong>Cantidad de Servicios APS</strong> <br>
                    </div>
                    <div class="col-lg border">

                    </div>
                    <div class="col-lg border">
                        <strong>Nombre</strong> <br>
                        <strong>Fecha Nacimiento</strong> <br>
                        <strong>Sexo</strong> <br>
                        <strong>Exoneración de plazos de Espera</strong> <br>
                    </div>
                    <div class="col-lg border">

                    </div>
                </div>
            </div>
        </div>

        <!--  Asegurados Inscritos-->
        <div class="card">
            <div class="card-header text-center">
                <h2>COBERTURAS</h2>
            </div>
            <div class="card-body">
                <div class="row border ">

                    <div class="col-lg ">
                        <strong>Coberturas Contratadas</strong> <br>

                    </div>

                    <div class="col-lg ">
                        <strong>Sumas Aseguradas</strong> <br>
                    </div>

                    <div class="col-lg row border">
                        <strong>Deducible</strong> <br>
                        <div class="col-lg row">
                            <div class="col border">
                                <strong>%</strong>
                            </div>
                            <div class="col  border">
                                <strong>U.T</strong>
                            </div>
                        </div>
                        <div class="col-lg  border">
                            <strong>Monto Mínimo</strong> <br>
                        </div>

                    </div>
                    
                    <div class="col-lg ">
                        <strong>Prima</strong> <br>
                    </div>
                </div>
            </div>
        </div>

        <!--  Asegurados Inscritos-->
        <div class="card">
            <div class="card-header text-center">
                <h2>DATOS DEL RECIBO</h2>
            </div>
            <div class="card-body">
                <div class="row border">
                    <div class="col-lg">
                        <strong>Recibo Nro.</strong>
                    </div>
                    <div class="col-lg">
                        <strong>Fecha de Emisión</strong>
                    </div>
                    <div class="col-lg">
                        <strong>Vigencia</strong>
                    </div>
                    <div class="col-lg">
                        <strong>Tipo de Movimiento</strong>
                    </div>
                </div>
                <div class="row border">
                    <div class="col-lg">
                        <strong>Fecha de Cobro</strong>
                    </div>
                    <div class="col-lg">
                        <strong>Referencia</strong>
                    </div>
                    <div class="col-lg">
                        <strong>Total Prima</strong>
                    </div>
                    <div class="col-lg">
                        <strong>Gastos</strong>
                    </div>
                    <div class="col-lg">
                        <strong>Total a Cobrar</strong>
                    </div>
                </div>
            </div>
        </div>
    </div>
