<div class="card container-fluid">

    <mat-form-field>
        <mat-label>Buscar</mat-label>
        <input matInput (keyup)="applyFilter2($event)" #input>
    </mat-form-field>

    <div class="card container-fluid">
        <table mat-table [dataSource]="tableDetailReceipts" matSort (matSortChange)="sortData2($event)">
            <ng-container matColumnDef="0">
                <th mat-header-cell *matHeaderCellDef mat-sort-header> Póliza </th>
                <td mat-cell *matCellDef="let row"> {{row.cnpoliza}} </td>
            </ng-container>
            <ng-container matColumnDef="1">
                <th mat-header-cell *matHeaderCellDef mat-sort-header> Recibo/Préstamo </th>
                <td mat-cell *matCellDef="let row"> {{row.cnrecibo}} </td>
            </ng-container>
            <ng-container matColumnDef="2">
                <th mat-header-cell *matHeaderCellDef mat-sort-header> Tipo Mov. </th>
                <td mat-cell *matCellDef="let row"> {{row.imovcom}} </td>
            </ng-container>
            <ng-container matColumnDef="3">
                <th mat-header-cell *matHeaderCellDef mat-sort-header mat-sort-header> Moneda Mov. </th>
                <td mat-cell *matCellDef="let row"> {{row.cmoneda}} </td>
            </ng-container>
            <ng-container matColumnDef="4">
                <th mat-header-cell *matHeaderCellDef mat-sort-header> Anexo </th>
                <td mat-cell *matCellDef="let row"> {{row.canexo}} </td>
            </ng-container>
            <ng-container matColumnDef="5">
                <th mat-header-cell *matHeaderCellDef mat-sort-header> Fecha </th>
                <td mat-cell *matCellDef="let row"> {{row.femision}} </td>
            </ng-container>
            <ng-container matColumnDef="6">
                <th mat-header-cell *matHeaderCellDef mat-sort-header> Prima Bs. </th>
                <td mat-cell *matCellDef="let row"> Bs. {{row.mmontoapag}} </td>
            </ng-container>
            <ng-container matColumnDef="7">
                <th mat-header-cell *matHeaderCellDef mat-sort-header> Prima Usd. </th>
                <td mat-cell *matCellDef="let row"> $. {{row.mmontoapagext}} </td>
            </ng-container>
            <ng-container matColumnDef="8">
                <th mat-header-cell *matHeaderCellDef mat-sort-header> % Com. </th>
                <td mat-cell *matCellDef="let row"> {{row.pcomision}}% </td>
            </ng-container>
            <ng-container matColumnDef="9">
                <th mat-header-cell *matHeaderCellDef mat-sort-header> Comisión Bs. </th>
                <td mat-cell *matCellDef="let row"> Bs.{{row.mmovcom}} </td>
            </ng-container>
            <ng-container matColumnDef="10">
                <th mat-header-cell *matHeaderCellDef mat-sort-header> Comisión Usd. </th>
                <td mat-cell *matCellDef="let row"> {{row.cmoneda}}{{row.mmovcomext}} </td>
            </ng-container>
            <ng-container matColumnDef="11">
                <th mat-header-cell *matHeaderCellDef mat-sort-header> Tasa<br>Usd-Bcv. </th>
                <td mat-cell *matCellDef="let row"> {{row.ptasamon}} </td>
            </ng-container>

            <!-- Row shown when there is no matching data. -->
            <tr mat-header-row *matHeaderRowDef="displayedColumns2"></tr>
            <tr mat-row *matRowDef="let row; columns: displayedColumns2;"></tr>
            <tr class="mat-row" *matNoDataRow>
                <td class="mat-cell" colspan="4">No se han encontrado resultados</td>
            </tr>
        </table>
        <hr>
        <mat-paginator [pageSizeOptions]="[5, 10, 25, 100]"></mat-paginator>

        <hr>

        <div class="footer-table">
            <b>Total CO:</b>
            <span>Movimiento Bs: {{total_movcom_pr.toFixed(2)}}</span>
            <span>Movimiento Usd: {{total_movcomext_pr.toFixed(2)}}</span>
        </div>
        <br>
        <div class="footer-table">
            <b>Total BO:</b>
            <span>Movimiento Bs: {{total_movcom_bo.toFixed(2)}}</span>
            <span>Movimiento Usd: {{total_movcomext_bo.toFixed(2)}}</span>
        </div>
        <br>
        <div class="footer-table">
            <button mat-raised-button color="primary" (click)="closeDialog()"
                style="width: 15%; text-align: center;">Cerrar</button>
        </div>
    </div>
</div>