<div class="card container registration-form">
    <form>
      <mat-form-field>
        <mat-label>Buscar</mat-label>
        <input matInput (keyup)="applyFilter($event)" placeholder="Ingresa datos" #input>
      </mat-form-field>
            
      <table mat-table [dataSource]="dataSource" class="mat-elevation-z8" matSort>
        <!-- Columna Crámo -->
        <ng-container matColumnDef="cramo">
            <th mat-header-cell *matHeaderCellDef mat-sort-header> Ramo </th>
            <td mat-cell *matCellDef="let element"> {{ element.cramo }} </td>
          </ng-container>
          
          <!-- Columna Descripción Larga -->
          <ng-container matColumnDef="xdescripcion_l">
            <th mat-header-cell *matHeaderCellDef mat-sort-header> Descripción Larga </th>
            <td mat-cell *matCellDef="let element"> {{ element.xdescripcion_l }} </td>
          </ng-container>
          
          <!-- Columna Acciones -->
          <ng-container matColumnDef="star">
            <th mat-header-cell *matHeaderCellDef aria-label="row actions">&nbsp;</th>
            <td mat-cell *matCellDef="let element">
              <button mat-icon-button [matMenuTriggerFor]="menu" aria-label="Example icon-button with a menu" type="button">
                <mat-icon>more_vert</mat-icon>
              </button>
              <mat-menu #menu="matMenu">
                <button mat-menu-item (click)="onEditClick($event)" type="button">
                  <mat-icon>edit</mat-icon>
                  <span>Editar</span>
                </button>
                <button mat-menu-item (click)="onCreateContract($event)" type="button">
                  <mat-icon>delete_outline</mat-icon>
                  <span>Eliminar Ramo</span>
                </button>
              </mat-menu>
            </td>
          </ng-container>
          
            
        <tr mat-header-row *matHeaderRowDef="displayedColumns"></tr>
        <tr mat-row *matRowDef="let row; columns: displayedColumns;"></tr>
            
        <!-- Fila que se muestra cuando no hay datos coincidentes. -->
        <tr class="mat-row" *matNoDataRow>
          <td class="mat-cell" colspan="2">No hay datos que coincidan con el filtro "{{ input.value }}"</td>
        </tr>
      </table>
            
      <mat-paginator [pageSizeOptions]="[5, 10, 25, 100]" aria-label="Seleccionar página de usuarios"></mat-paginator>
    </form>
  </div>
  