<div class="card container-fluid">
    <form [formGroup]="searchReceipt">
        <div class="text-center">
            <h1>Normalización de Pagos</h1>
        </div>

        <mat-tab-group>
          <!-- recibos notificados -->
          <mat-tab label="Recibos notificados"> 
            <mat-form-field>
              <mat-label>Cedula</mat-label>
              <input matInput (keyup)="applyFilter($event)" placeholder="Numero de cedula del asegurado" #input>
            </mat-form-field>
            
            <div class="mat-elevation-z8">
              <table mat-table [dataSource]="listReceipt" matSort>
            
                <!-- ID Column -->
                <ng-container matColumnDef="casegurado">
                  <th mat-header-cell *matHeaderCellDef mat-sort-header> Cedula de Identidad </th>
                  <td mat-cell *matCellDef="let row" (click)="PendindAlert()"> {{row.casegurado}} </td>
                </ng-container>
            
                <!-- Progress Column -->
                <ng-container matColumnDef="cmoneda">
                  <th mat-header-cell *matHeaderCellDef mat-sort-header> Moneda de Cobro </th>
                  <td mat-cell *matCellDef="let row" (click)="PendindAlert()"> {{row.cmoneda}} </td>
                </ng-container>
            
                <!-- Name Column -->
                <ng-container matColumnDef="freporte">
                  <th mat-header-cell *matHeaderCellDef mat-sort-header> Fecha de notificacion de pago </th>
                  <td mat-cell *matCellDef="let row" (click)="PendindAlert()"> {{row.freporte}} </td>
                </ng-container>
            
                <!-- Fruit Column -->
                <ng-container matColumnDef="ptasamon">
                  <th mat-header-cell *matHeaderCellDef mat-sort-header> Tasa BCV </th>
                  <td mat-cell *matCellDef="let row" (click)="PendindAlert()"> {{row.ptasamon}} </td>
                </ng-container>

                <!-- Fruit Column -->
                <ng-container matColumnDef="mpago_dec">
                  <th mat-header-cell *matHeaderCellDef mat-sort-header> Pago declarado </th>
                  <td mat-cell *matCellDef="let row" (click)="PendindAlert()"> {{row.mpago_dec}} </td>
                </ng-container>
            
                <tr mat-header-row *matHeaderRowDef="Receipt"></tr>
                <tr mat-row *matRowDef="let row; columns: Receipt;"></tr>
            
                <!-- Row shown when there is no matching data. -->
                <tr class="mat-row" *matNoDataRow>
                  <td class="mat-cell" colspan="4">No data matching the filter "{{input.value}}"</td>
                </tr>
              </table>
            
              <mat-paginator [pageSizeOptions]="[5, 10, 25, 100]" aria-label="Select page of users"></mat-paginator>
            </div>
          </mat-tab>

          <!-- recibos pendientes -->
          <mat-tab label="Recibos pendientes"> 
            <mat-form-field>
              <mat-label>Ingrese un valor</mat-label>
              <input matInput (keyup)="applyFilterPending($event)" placeholder="Numero de cedula del asegurado" #input>
            </mat-form-field>
            
            <div class="mat-elevation-z8">
              <table mat-table [dataSource]="listPending" matSort>
            
                <!-- ID Column -->
                <ng-container matColumnDef="casegurado">
                  <th mat-header-cell *matHeaderCellDef mat-sort-header> Poliza</th>
                  <td mat-cell *matCellDef="let row" (click)="PendindAlert()"> {{row.cnpoliza}} </td>
                </ng-container>
            
                <!-- Progress Column -->
                <ng-container matColumnDef="cmoneda">
                  <th mat-header-cell *matHeaderCellDef mat-sort-header> Recibo </th>
                  <td mat-cell *matCellDef="let row" (click)="PendindAlert()"> {{row.cnrecibo}} </td>
                </ng-container>
            
                <!-- Name Column -->
                <ng-container matColumnDef="freporte">
                  <th mat-header-cell *matHeaderCellDef mat-sort-header> Ramo</th>
                  <td mat-cell *matCellDef="let row" (click)="PendindAlert()"> {{row.cramo}} </td>
                </ng-container>
            
                <!-- Fruit Column -->
                <ng-container matColumnDef="ptasamon">
                  <th mat-header-cell *matHeaderCellDef mat-sort-header> Prima</th>
                  <td mat-cell *matCellDef="let row" (click)="PendindAlert()"> {{row.mprimabrutaext}} {{row.cmoneda}} </td>
                </ng-container>

                <!-- Fruit Column -->
                <ng-container matColumnDef="mpago_dec">
                  <th mat-header-cell *matHeaderCellDef mat-sort-header> Vencimiento del recibo</th>
                  <td mat-cell *matCellDef="let row" (click)="PendindAlert()"> {{row.fhasta}} </td>
                </ng-container>
            
                <tr mat-header-row *matHeaderRowDef="PendingData"></tr>
                <tr mat-row *matRowDef="let row; columns: PendingData;"></tr>
            
                <!-- Row shown when there is no matching data. -->
                <tr class="mat-row" *matNoDataRow>
                  <td class="mat-cell" colspan="4">No data matching the filter "{{input.value}}"</td>
                </tr>
              </table>
            
              <mat-paginator [pageSizeOptions]="[5, 10, 25, 100]" aria-label="Select page of users"></mat-paginator>
            </div>          
          </mat-tab>

          <!-- recibos cobrados -->
          <mat-tab label="Recibos cobrados"> 
            <mat-form-field>
              <mat-label>Ingrese un valor</mat-label>
              <input matInput (keyup)="applyFilter($event)" placeholder="Ingrese el numero de cedula del asegurado" #input>
            </mat-form-field>
            
            <div class="mat-elevation-z8">
              <table mat-table [dataSource]="Collected" matSort>
            
                <!-- ID Column -->
                <ng-container matColumnDef="casegurado">
                  <th mat-header-cell *matHeaderCellDef mat-sort-header> Poliza</th>
                  <td mat-cell *matCellDef="let row" (click)="PendindAlert()"> {{row.cnpoliza}} </td>
                </ng-container>
            
                <!-- Progress Column -->
                <ng-container matColumnDef="cmoneda">
                  <th mat-header-cell *matHeaderCellDef mat-sort-header> Recibo </th>
                  <td mat-cell *matCellDef="let row" (click)="PendindAlert()"> {{row.cnrecibo}} </td>
                </ng-container>
            
                <!-- Name Column -->
                <ng-container matColumnDef="freporte">
                  <th mat-header-cell *matHeaderCellDef mat-sort-header> Ramo</th>
                  <td mat-cell *matCellDef="let row" (click)="PendindAlert()"> {{row.cramo}} </td>
                </ng-container>
            
                <!-- Fruit Column -->
                <ng-container matColumnDef="ptasamon">
                  <th mat-header-cell *matHeaderCellDef mat-sort-header> Prima</th>
                  <td mat-cell *matCellDef="let row" (click)="PendindAlert()"> {{row.mprimabrutaext}} {{row.cmoneda}} </td>
                </ng-container>

                <!-- Fruit Column -->
                <ng-container matColumnDef="mpago_dec">
                  <th mat-header-cell *matHeaderCellDef mat-sort-header> Vencimiento del recibo</th>
                  <td mat-cell *matCellDef="let row" (click)="PendindAlert()"> {{row.fhasta}} </td>
                </ng-container>
            
                <tr mat-header-row *matHeaderRowDef="dataSourceCollected"></tr>
                <tr mat-row *matRowDef="let row; columns: dataSourceCollected;"></tr>
            
                <!-- Row shown when there is no matching data. -->
                <tr class="mat-row" *matNoDataRow>
                  <td class="mat-cell" colspan="4">No data matching the filter "{{input.value}}"</td>
                </tr>
              </table>
            
              <mat-paginator [pageSizeOptions]="[5, 10, 25, 100]" aria-label="Select page of users"></mat-paginator>
            </div>          
          </mat-tab>
        </mat-tab-group>

        <ng-template #Alerta >
          <mat-dialog-content  >
            
            <div class="card">
              <div class="header">
                <div class="image">
                  <svg viewbox="0 0 25 25" xmlns="http://www.w3.org/2000/svg">
                  <g id="SVGRepo_bgCarrier" stroke-width="0"></g>
                  <g id="SVGRepo_tracerCarrier" stroke-linecap="round" stroke-linejoin="round"></g>
                  <g id="SVGRepo_iconCarrier">
                    <path d="M20 7L9.00004 18L3.99994 13" stroke="#000000" stroke-linecap="round" stroke-linejoin="round" stroke-width="8.5"></path>
                  </g></svg>
                </div>
                <div class="content" *ngFor="let creds of listReceipt let i=index">
                  <h2 class="title">Pago registrado</h2>
                  <h4>Valide todos los campos antes de registrar el anticipo</h4>

                  <img style="height: 50vh;" src="{{apiUrl}}">

                  
                </div>
              </div>
            </div>
    
    
          </mat-dialog-content>
        </ng-template>

        <ng-template #Pending >
          <mat-dialog-content  >
            
            <div class="card">
              <div class="header">
                <div class="image">
                  <svg viewbox="0 0 25 25" xmlns="http://www.w3.org/2000/svg">
                  <g id="SVGRepo_bgCarrier" stroke-width="0"></g>
                  <g id="SVGRepo_tracerCarrier" stroke-linecap="round" stroke-linejoin="round"></g>
                  <g id="SVGRepo_iconCarrier">
                    <path d="M20 7L9.00004 18L3.99994 13" stroke="#000000" stroke-linecap="round" stroke-linejoin="round" stroke-width="8.5"></path>
                  </g></svg>
                </div>
                <mat-radio-group aria-label="Select an option">
                  <mat-radio-button value="1">Pago Movil</mat-radio-button>
                  <mat-radio-button value="2">transferencia</mat-radio-button>
                  <mat-radio-button value="3">Deposito</mat-radio-button>
                  <mat-radio-button value="4">Efectivo</mat-radio-button>
                  <mat-radio-button value="5">Pasarela</mat-radio-button>
                  <mat-radio-button value="6">ConsulPagos</mat-radio-button>
                </mat-radio-group>
              </div>
            </div>
    
    
          </mat-dialog-content>
        </ng-template>



    </form>

</div>
