<div class="card container-fluid">
    <form [formGroup]="groupReceiptsForm" >
        <div class="text-center">
            <h1>Normalización de Pagos</h1>
        </div>

        <mat-tab-group>
          <!-- recibos notificados -->
          <mat-tab label="Recibos notificados"> 
            <div class="p-4">
              <h2>Total Notificado {{totalNotificated}} $</h2>
            </div>

            <div>
              <button class="btn btn-primary rounded-pill p-3" type="button" [disabled]="!GroupReceiptsBool" (click)="updateDifferenceNotification()">Cobrar notificaciones agrupadas</button>
            </div>

            <!-- <div class="mat-elevation-z8 mt-5" formArrayName="agrupado" >

              <table class="table">
                <thead>
                  <tr>
                    <th scope="col">Cedula de Identidad</th>
                    <th scope="col">Fecha de notificacion de pago</th>
                    <th scope="col">Tasa BCV</th>
                    <th scope="col">Pago declarado Bs</th>
                    <th scope="col">Pago declarado $</th>
                    <th scope="col">Validar Recibos</th>

                  </tr>
                </thead>
                <tbody *ngFor="let creds of agrupado.value; let i=index">
                  <tr [formGroupName]="i" [class.bg-danger]="creds.iestado_tran == 'ER' ">
                    <th (click)="dataNotification(creds.ctransaccion)">{{creds.casegurado}}</th>
                    <td (click)="dataNotification(creds.ctransaccion)">{{creds.freporte}}</td>
                    <td (click)="dataNotification(creds.ctransaccion)">{{creds.ptasamon}}</td>
                    <td (click)="dataNotification(creds.ctransaccion)">{{creds.mpago}}</td>
                    <td (click)="dataNotification(creds.ctransaccion)">{{creds.mpagoext}}</td>
                    <td>
                      <mat-checkbox class="example-margin" formControlName="agrupador" (change)="GroupReceipt()"></mat-checkbox>
                    </td>
                  </tr>

                </tbody>
              </table>
            </div> -->


            <div class="mt-5 p-2">
              <ngb-accordion
              #accordion formArrayName="agrupado" 
                [closeOthers]="false" >
                <ngb-panel
                    *ngFor="let group of agrupado.controls;let i=index" 
                    [formGroupName]="i" 
                    [id]="'pannel'+i">
                    <ng-template ngbPanelHeader let-opened="opened"  >
                      <div class="row p-3  bg-info bg-gradient" [class.bg-danger]="group.value.iestado_tran == 'ER' ">

                        <div class="col-4 text-light" style="font-size: medium;">
                          Cédula de Identidad {{group.value.casegurado}}<br>
                          Fecha de notificacion de pago {{group.value.freporte}}<br>
                          Tasa BCV  {{group.value.ptasamon}}
                        </div>

                        <div class="col-4 text-light" style="font-size: medium;">
                          Pago declarado Bs {{group.value.mpago}}<br>
                          Pago declarado $  {{group.value.mpagoext}}<br>
                        </div>

                        <div class="col-2 text-light" style="font-size: medium;">
                          <mat-checkbox class="example-margin" formControlName="agrupador" matTooltip="Este campo servira SOLO para agrupar transacciones,aplicara en casos en el que el cliente reporte varios pagos para un mismo recibo" (change)="GroupReceipt()"> Validar transacción</mat-checkbox>
                        </div>

                        <div class="col-2">
                          <button ngbPanelToggle class="btn btn-light">Visualizar detalle de la transacción </button>
                        </div>

                      </div>


                    </ng-template>

                    <ng-template ngbPanelContent>

                      <div class="row p-3">

                        <div class="col">
                          <h2>Detalles del recibo Pagado</h2>
                            <strong>Poliza</strong>  {{group.value.detalle.cpoliza}}<br>
                            <strong>Reciboo</strong> {{group.value.detalle.crecibo}}<br>
                            <strong>Ramo</strong>  {{group.value.detalle.cramo}}<br>
                            <strong> Bs</strong> {{group.value.detalle.mprimabruta}}<br>
                            <strong> $</strong>  {{group.value.detalle.mprimabrutaext}}<br>
                          
                         
                        </div>

                        <div class="col">
                          <h2>Detalles del Soporte de pago</h2>
                            <strong>Banco remitente</strong>  {{group.value.soporte.cbanco}}<br>
                            <strong>Banco Receptor</strong> {{group.value.soporte.cbanco_destino}}<br>
                            <strong> Moneda</strong>  {{group.value.soporte.cmoneda}}<br>

                            <div *ngIf="group.value.soporte.cmoneda == 'Bs  ' ">
                              <strong> Monto Pagado</strong>  {{group.value.soporte.mpago}}<br>
                            </div>

                            <div *ngIf="group.value.soporte.cmoneda == 'USD ' ">
                              <strong> Monto Pagado</strong>  {{group.value.soporte.mpagoext}}<br>
                            </div>


                            <strong> Referencia</strong> {{group.value.soporte.xreferencia}}<br>
                            
                        </div>

                        <div class="col-3">
                          <img  [src]="group.value.soporte.ximagen"  alt="" class="img-fluid">
                        </div>

                        <div class="col">
                          <div class="row p-3 bg-danger " *ngIf="group.value.diferenceBool">
                            <h2>Transaccion con diferencia</h2>
  
                              <strong>Diferencia de {{group.value.diference.mdiferencia}}  {{group.value.soporte.cmoneda}}  por 
                                observacion  "{{group.value.diference.xobservacion}}" </strong> 
                        
                          </div> 
  
                          <div>
                            <mat-form-field>
                              <mat-label>Estado de recibo</mat-label>
                              <mat-select formControlName="iestadorec">
                                <mat-option value="C">Cobrado</mat-option>
                                <mat-option value="ER">En revision</mat-option>
                              </mat-select>
                            </mat-form-field>
        
                            <mat-form-field *ngIf="!group.value.diferenceBool">
                              <mat-label>Diferencia</mat-label>
                              <input matInput formControlName="mdiferencia"  matTooltip="La diferencia sera registrada con la misma moneda que el cliente reporto su pago" type="number" placeholder="Ingrese la diferencia del recibo" #input>
                            </mat-form-field>
        
                            <mat-form-field *ngIf="!group.value.diferenceBool">
                              <mat-label>Observacion</mat-label>
                              <textarea matInput placeholder="Observacion" formControlName="xobservacion"></textarea>
                            </mat-form-field>
        
                          </div>
                        </div>

                        <div class="text-center">
                          <button class="btn-primary" mat-button (click)="updateReceiptNotificated(i)">Actualizar recibo</button>
                        </div>

                      </div>

                    </ng-template>
                </ngb-panel>
              </ngb-accordion>              
            </div>



            
          </mat-tab>

          <mat-tab label="Recibos Pendientes y reportes "> 

            <div class="p-4">
              <h2>Total Pendiente {{totalPending}} $</h2>
              <button class="btn btn-primary rounded-pill p-3" type="button" (click)="downloadExcel()"><strong>Descargar recibos pendientes</strong></button>
              <button class="btn btn-primary rounded-pill p-3" type="button" (click)="downloadExcelVencido()"><strong>Descargar recibos vencidos</strong></button>
              <button class="btn btn-primary rounded-pill p-3" type="button" (click)="downloadExcelCollected()"><strong>Descargar recibos cobrados</strong></button>

            </div>

            <div class="mat-elevation-z8">

              <mat-form-field>
                <mat-label>Buscar</mat-label>
                <input matInput (keyup)="applyFilter($event)" #input>
              </mat-form-field>
              
              <div class="mat-elevation-z8">
                <table mat-table [dataSource]="dataSource" matSort>
              
                  <!-- ID Column -->
                  <ng-container matColumnDef="id">
                    <th mat-header-cell *matHeaderCellDef mat-sort-header> Poliza </th>
                    <td mat-cell *matCellDef="let row" (click)="dataPendient(row.crecibo,row.casegurado)"> {{row.cpoliza}} </td>
                  </ng-container>
              
                  <!-- Progress Column -->
                  <ng-container matColumnDef="progress">
                    <th mat-header-cell *matHeaderCellDef mat-sort-header> Ramo </th>
                    <td mat-cell *matCellDef="let row" (click)="dataPendient(row.crecibo,row.casegurado)"> {{row.cramo}}</td>
                  </ng-container>
              
                  <!-- Name Column -->
                  <ng-container matColumnDef="name">
                    <th mat-header-cell *matHeaderCellDef mat-sort-header> Recibo </th>
                    <td mat-cell *matCellDef="let row" (click)="dataPendient(row.crecibo,row.casegurado)"> {{row.crecibo}} </td>
                  </ng-container>
              
                  <!-- Fruit Column -->
                  <ng-container matColumnDef="fruit">
                    <th mat-header-cell *matHeaderCellDef mat-sort-header> Asegurado </th>
                    <td mat-cell *matCellDef="let row" > {{row.casegurado}} </td>
                  </ng-container>
              
                  <tr mat-header-row *matHeaderRowDef="displayedColumns"></tr>
                  <tr mat-row *matRowDef="let row; columns: displayedColumns;"></tr>
              
                  <!-- Row shown when there is no matching data. -->
                  <tr class="mat-row" *matNoDataRow>
                    <td class="mat-cell" colspan="4">No data matching the filter "{{input.value}}"</td>
                  </tr>
                </table>
              
                <mat-paginator [pageSizeOptions]="[5, 10, 25, 100]" aria-label="Select page of users"></mat-paginator>
              </div>

            </div>
          </mat-tab>

        </mat-tab-group>

        <ng-template #Alerta >
          <mat-dialog-content  >
            
            <form action=""  [formGroup]="updateReceiptPending">
              <div class="container-fluid">
                <h1 class="text-center">Registro de pago</h1>
                <div class="row">
                  <div class="col-3">
                    <h2>Tasa del dia {{bcv}} Bs</h2>

                    <strong>Cliente</strong>   {{cliente}}<br>
                    <strong>Correo</strong>    {{correo}}<br>
                    <strong>Telefono</strong>  {{telefono}}<br>
                  </div>


                  <div class="row col-8" *ngFor="let data of dataReceiptPending let i=index">
                    <h2 class="text-center">Datos del recibo</h2>

                    <div class="col">
                      <strong>Moneda</strong>  {{data.cmoneda}} <br>
                      <strong>Recibo</strong>  {{data.crecibo}} <br>
                      <strong>Poliza </strong> {{data.cpoliza}}

                    </div>
                    <div class="col">
                      <strong>Fecha desde recibo</strong> {{data.fdesde}} <br>
                      <strong>Fecha hasta recibo</strong> {{data.fhasta}} <br>
                      <strong>N° Cuota</strong>  {{data.qcuotas}} <br>

                    </div>
                    <div class="col">
                      <strong>Prima $</strong> {{data.mprimabrutaext}} <br>
                      <strong>Prima Bs</strong> {{data.mprimabruta}} <br>
                      <strong>Ramo</strong> {{data.cramo}}

                    </div>
 
                  </div>

                </div>    
                <div class="row mt-3">
                  <div class="col-2">
                    <mat-radio-group aria-label="Select an option" formControlName="itransaccion">
                      <mat-radio-button value="PM" (change)="changeStatusPm()" >Pago Movil</mat-radio-button>
                      <mat-radio-button value="EF" (change)="validationOperation()">Efectivo</mat-radio-button>
                      <mat-radio-button value="TR" (change)="changeStatusTrans()">Tranferencia</mat-radio-button>
                      <mat-radio-button value="PS" (change)="changeStatusTransCustodia()">Cuenta Custodia</mat-radio-button>
                      <mat-radio-button value="DP" (change)="changeStatusUSD()">Tranferencia Moneda extranjera</mat-radio-button>
                    </mat-radio-group>
                  </div>

                  <div class="col-lg-4">

                    <!-- Moneda -->
                      <div class="form-outline" *ngIf="usd"><!-- pagos en dolares  -->
                        <label class="form-label required">Moneda</label>
                        <select formControlName="cmoneda" class="form-control rounded-input form-control-lg colorgris" >
                          <option  value="BS">BS</option>
                          <option  value="USD">USD</option>
                        </select>                     
                      </div>

                      <div class="form-outline"  *ngIf="!usd"><!-- pagos en bolivares -->
                        <label class="form-label required">Moneda</label>
                        <select formControlName="cmoneda" class="form-control rounded-input form-control-lg colorgris">
                          <option  value="Bs">Bs</option>
                        </select>                     
                      </div>

                      <!-- Bancos de emision -->
                      <div class="form-outline mt-3" *ngIf="!usd"><!-- lista de bancos emisores nacionales -->
                        <label class="form-label ">Banco de emision</label>
                        <select formControlName="cbanco" class="form-control rounded-input form-control-lg colorgris" >
                          <option disabled>Seleccione el banco de emision</option>
                          <option *ngFor="let backE of bankNational" value="{{ backE.id }}">{{ backE.value }}</option>
                        </select>
                      </div>

                      <div class="form-outline mt-3" *ngIf="usd"><!-- lista de bancos emisores internacionales  -->
                        <label class="form-label ">Banco de emision</label>
                        <select formControlName="cbanco" class="form-control rounded-input form-control-lg colorgris" >
                          <option disabled>Seleccione el banco de emision</option>
                          <option *ngFor="let backE of bankInternational" value="{{ backE.id }}">{{ backE.value }}</option>
                        </select>
                      </div>

                      <!-- Bancos destino -->

                      <div class="form-outline mt-3" *ngIf="usd"><!-- lista de bancos receptores internacionales -->
                        <label class="form-label ">Banco receptor</label>
                        <select formControlName="cbanco_destino" class="form-control rounded-input form-control-lg colorgris" >
                          <option disabled>Seleccione el banco receptor</option>
                          <option *ngFor="let backE of bankReceptorInternational" value="{{ backE.id }}">{{ backE.value }}</option>
                        </select>                     
                      </div>


                      <div class="form-outline mt-3" *ngIf="!usd && !pmovil && !depositoUSD && trans"><!-- lista de bancos receptores nacionales transferencia-->
                        <label class="form-label ">Banco receptor</label>
                        <select formControlName="cbanco_destino" class="form-control rounded-input form-control-lg colorgris" >
                          <option disabled>Seleccione el banco receptor</option>
                          <option *ngFor="let backE of bankReceptorNational" value="{{ backE.id }}">{{ backE.value }}</option>
                        </select>                     
                      </div>

                      <div class="form-outline mt-3" *ngIf="!usd && pmovil && !depositoUSD && !trans"><!--  lista de bancos receptores nacionales pago movil -->
                        <label class="form-label ">Banco receptor</label>
                        <select formControlName="cbanco_destino" class="form-control rounded-input form-control-lg colorgris" >
                          <option disabled>Seleccione el banco receptor</option>
                          <option *ngFor="let backE of bankReceptorPM" value="{{ backE.id }}">{{ backE.value }}</option>
                        </select>                     
                      </div>

                      <div class="form-outline mt-3" *ngIf="!usd && !pmovil && depositoUSD && !trans"><!--  lista de bancos receptores nacionales cuenta custodia -->
                        <label class="form-label ">Banco receptor</label>
                        <select formControlName="cbanco_destino" class="form-control rounded-input form-control-lg colorgris" >
                          <option disabled>Seleccione el banco receptor</option>
                          <option *ngFor="let backE of bankReceptorCustodia" value="{{ backE.id }}">{{ backE.value }}</option>
                        </select>                     
                      </div>



                  </div>

                  <div class="col-4 row ">

                    <mat-form-field >
                      <mat-label>Monto pagado</mat-label>
                      <input matInput  formControlName="mpago">
                    </mat-form-field>


                    <mat-form-field >
                      <mat-label>Referencia bancaria</mat-label>
                      <input matInput  formControlName="xreferencia">
                    </mat-form-field>

                    <mat-form-field>
                      <mat-label>Estado de recibo</mat-label>
                      <mat-select formControlName="iestadorec">
                        <mat-option value="C">Cobrado</mat-option>
                        <mat-option value="ER">En revision</mat-option>
                      </mat-select>
                    </mat-form-field>

                    <div class="form-outline" >
                      <label for="">Carga de referencia </label>
                      <input type="file"  accept="image/png, image/jpeg, image/jpg" class="form-control rounded-input mt-3" name="ximagen" formControlName="ximagen" (change)="onFileSelect($event)" #Ximagen>
                    </div>
                  </div>
                </div>
                <button mat-button (click)="saveUpdateReceiptPending()">Cobrar recibo</button>
              </div>

            </form>

          </mat-dialog-content>
        </ng-template>


    </form>

</div>
