<div class="card container registration-form" *ngIf="showTable">
    <div class="image-container"></div>
    <div class="d-flex justify-content-end mr-auto p-2" style="position: relative; top: -382px;">
        <div class="card col-lg-4 position-fixed reset" style="background-color: #1d76c947;">
            <div class="card-header">
                <h3>Cosultas</h3>
            </div>
            <div class="card-body">
                <h4>Por favor, elija la categoría de consultas de cotizaciones que desee:</h4>
            </div>
            <button class="bg-primary" (click)="linkAuto()">
                <h4 class="text-light">Automovil</h4>
            </button>
        </div>
    </div>
</div>

<router-outlet></router-outlet>