<div class="card container-fluid">
    <form [formGroup]="groupReceiptsForm">
        <div class="text-center">
            <h1>Consulta de Ordenes de Pago</h1>
        </div>
        <!-- <div class="text-center">
            <h3>Comisiones pendientes por corredor</h3>
        </div> -->
        <mat-form-field>
            <mat-label>Buscar</mat-label>
            <input matInput (keyup)="applyFilter($event)" #input>
        </mat-form-field>

        <table mat-table [dataSource]="dataSource" class="mat-elevation-z3" matSort (matSortChange)="sortData($event)">

            <!--- Note that these columns can be defined in any order.
                The actual rendered columns are set as a property on the row definition" -->
            <!-- Position Column -->
            <ng-container matColumnDef="0">
                <th mat-header-cell *matHeaderCellDef mat-sort-header>&nbsp; Nro.<br>Sol. </th>
                <td mat-cell *matCellDef="let row">&nbsp; {{row.csolpag}} </td>
            </ng-container>

            <!-- Name Column -->
            <ng-container matColumnDef="1">
                <th mat-header-cell *matHeaderCellDef mat-sort-header> Transacción </th>
                <td mat-cell *matCellDef="let row"> {{row.xconcepto_1}} </td>
            </ng-container>

            <!-- Weight Column -->
            <ng-container matColumnDef="2">
                <th mat-header-cell *matHeaderCellDef mat-sort-header> Facturación </th>
                <td mat-cell *matCellDef="let row"> {{row.fmovim | date: "dd/MM/YYYY"}}</td>
            </ng-container>

            <!-- Weight Column -->
            <ng-container matColumnDef="3">
                <th mat-header-cell *matHeaderCellDef mat-sort-header> Estatus </th>
                <td mat-cell *matCellDef="let row"> {{row.xstatsol}}</td>
            </ng-container>

            <!-- Weight Column -->
            <ng-container matColumnDef="4">
                <th mat-header-cell *matHeaderCellDef mat-sort-header> ID. Corredor </th>
                <td mat-cell *matCellDef="let row"> {{row.cid_ben}}</td>
            </ng-container>
            <ng-container matColumnDef="5">
                <th mat-header-cell *matHeaderCellDef mat-sort-header> Corredor </th>
                <td mat-cell *matCellDef="let row">{{row.cben}} - {{row.xbeneficiario}}</td>
            </ng-container>
            <ng-container matColumnDef="6">
                <th mat-header-cell *matHeaderCellDef mat-sort-header> Total Bs. </th>
                <td mat-cell *matCellDef="let row"> Bs. {{row.mpago}}</td>
            </ng-container>
            <ng-container matColumnDef="7">
                <th mat-header-cell *matHeaderCellDef mat-sort-header> Total Usd. </th>
                <td mat-cell *matCellDef="let row"> {{row.cmoneda}}{{row.mpagoext}}</td>
            </ng-container>
            <ng-container matColumnDef="8">
                <th mat-header-cell *matHeaderCellDef mat-sort-header> Observaciones </th>
                <td mat-cell *matCellDef="let row"> {{row.xobserva}}</td>
            </ng-container>
            <ng-container matColumnDef="9">
                <th mat-header-cell *matHeaderCellDef> </th>
                <td mat-cell *matCellDef="let row">
                    <button mat-raised-button color="primary">Detalles</button>
                </td>
            </ng-container>

            <tr mat-header-row *matHeaderRowDef="displayedColumns"></tr>
            <!-- <tr mat-row *matRowDef="let row; columns: displayedColumns;"></tr> -->
            <tr mat-row (click)="showDetailPaymentRequest(row.csolpag, i)" [class.demo-row-is-clicked]=""
                *matRowDef="let row; columns: displayedColumns; let i = index">
            </tr>
            <tr class="mat-row" *matNoDataRow>
                <td class="mat-cell" colspan="4">No data matching the filter "{{input.value}}"</td>
            </tr>

        </table>
        <hr>
        <mat-paginator #allPaginator="matPaginator" [pageSizeOptions]="[5, 10, 25, 100]" ></mat-paginator>

        <!-- <div class="text-center mt-5">
            <button mat-raised-button>Procesar solicitudes de pago</button>
        </div>
        <div class="text-center mt-2">
            <button mat-raised-button>Ver solicitudes de pago</button>
        </div> -->



        <!-- <ng-template #Alerta >
          
        </ng-template> -->

        <!-- <ng-template #Alerta>
            <mat-dialog-content style="width: 85%;">
                <h1>
                    dadadata
                </h1>
            </mat-dialog-content>
        </ng-template> -->
        <ng-template #Alerta>
            <mat-dialog-content>


            </mat-dialog-content>
        </ng-template>

        <ng-template #dialogPaymentRequest style="width: 80%;">
            <form [formGroup]="paymentRequestFormGroup">
                <!-- <mat-dialog-content style="width: 900px;"> -->
                <mat-dialog-content>
                    <!-- class="mat-elevation-z8" -->

                    <div class="text-center">
                        <h2>Resúmen solicitud de pago</h2>
                    </div>

                    <div class="row p-2" style="border: 1px solid black;">
                        <!--  -->
                        <div class="col-2">
                            <mat-form-field>
                                <mat-label>Nro. Solicitud:</mat-label>
                                <input matInput type="text" value="{{paymentRequest.csolpag}}" disabled>
                            </mat-form-field>
                        </div>
                        <div class="col-4">
                            <mat-form-field>
                                <mat-label>Transacción</mat-label>
                                <input matInput type="text" value="{{paymentRequest.xconcepto_1}}" disabled>
                            </mat-form-field>
                        </div>
                        <div class="col-3">
                            <mat-form-field>
                                <mat-label>Fecha orden:</mat-label>
                                <input matInput type="text" value="{{paymentRequest.fsolicit | date: 'dd/MM/YYYY'}}"
                                    disabled>
                            </mat-form-field>
                        </div>
                        <div class="col-3">
                            <mat-form-field>
                                <mat-label>Estatus:</mat-label>
                                <input matInput type="text" value="{{paymentRequest.xstatsol}}" disabled>
                            </mat-form-field>
                        </div>
                        <!--  -->
                        <div class="col-3">
                            <mat-form-field>
                                <mat-label>Págase a la orden de:</mat-label>
                                <input matInput type="text" value="{{paymentRequest.cid_ben}}" disabled>
                            </mat-form-field>
                        </div>
                        <div class="col-9">
                            <mat-form-field>
                                <mat-label>Nombre:</mat-label>
                                <input matInput type="text" value="{{paymentRequest.xbeneficiario}}" disabled>
                            </mat-form-field>
                        </div>
                        <!-- <div class="col-3"></div> -->
                        <div class="col-3">
                            <mat-form-field>
                                <mat-label>Concepto:</mat-label>
                                <input matInput type="text" value="{{paymentRequest.xconcepto_2}}" disabled>
                            </mat-form-field>
                        </div>
                        <div class="col-9">
                            <mat-form-field>
                                <mat-label>Corredor:</mat-label>
                                <input matInput type="text"
                                    value="{{paymentRequest.cproductor}} - {{paymentRequest.xbeneficiario}}" disabled>
                            </mat-form-field>
                        </div>
                        <div class="col-3">
                            <mat-form-field>
                                <mat-label>Monto Movimiento (Bs):</mat-label>
                                <input matInput type="text" value="Bs. {{paymentRequest.mpago}}" disabled>
                            </mat-form-field>
                        </div>
                        <div class="col-3">
                            <mat-form-field>
                                <mat-label>Monto Movimiento (Usd):</mat-label>
                                <input matInput type="text" value="$. {{paymentRequest.mpagoext}}"
                                disabled>
                            </mat-form-field>
                        </div>
                        <div class="col-3">
                            <mat-form-field>
                                <mat-label>Moneda Movimiento:</mat-label>
                                <input matInput type="text" value="{{paymentRequest.xconcepto_3}}" disabled>
                            </mat-form-field>
                        </div>
                        <div class="col-3">
                            <mat-form-field>
                                <mat-label>Moneda Pago Orden:</mat-label>
                                <input matInput type="text" value="{{paymentRequest.cmoneda}}" disabled>
                            </mat-form-field>
                        </div>
                        <div class="col-12">
                            <mat-form-field>
                                <mat-label>Observaciones:</mat-label>
                                <input matInput type="text" value="{{paymentRequest.xobserva}}" disabled>
                            </mat-form-field>
                        </div>
                        <!-- <div class="col-2">
                            <mat-form-field>
                                <mat-label>Monto total Bs.:</mat-label>
                                <input matInput type="text" value="Bs. {{paymentRequest.mpago}}" disabled>
                            </mat-form-field>
                        </div>
                        <div class="col-2">
                            <mat-form-field>
                                <mat-label>Monto total Usd:</mat-label>
                                <input matInput type="text"
                                    value="{{paymentRequest.cmoneda}}{{paymentRequest.mpagoext}}" disabled>
                            </mat-form-field>
                        </div>
                        <div class="col-8">
                            <mat-form-field>
                                <mat-label>Observaciones:</mat-label>
                                <input matInput type="text" value="{{paymentRequest.xobserva}}" disabled>
                            </mat-form-field>
                        </div> -->

                        <!-- <div class="col-3">
                            <mat-form-field class="example-full-width">
                                <mat-label>Moneda de pago</mat-label>
                                <mat-select (selectionChange)="changeMonedaPago()" formControlName="xmoneda" requires>
                                    <mat-option value="Bs" selected>Bolívares</mat-option>
                                    <mat-option value="$">Usd</mat-option>
                                    <mat-option value="M">Mixto</mat-option>
                                </mat-select>
                            </mat-form-field>
                        </div>
                        <div class="col-3" *ngIf="mpagosol_mix">
                            <mat-form-field>
                                <mat-label>A pagar en Bs.:</mat-label>
                                <input matInput type="number" formControlName="mpago" (keyup)="calcMixBs()"  max="{{paymentRequest.mpago}}">
                            </mat-form-field>
                        </div>
                        <div class="col-3" *ngIf="mpagosol_mix">
                            <mat-form-field>
                                <mat-label>A pagar en USD:</mat-label>
                                <input matInput type="number" formControlName="mpagoext" (keyup)="calcMixUsd()" max="{{paymentRequest.mpagoext}}">
                            </mat-form-field>
                        </div>
                        <div class="col-3" *ngIf="mpagosol_mix">
                            <mat-form-field>
                                <mat-label>Tasa Orden:</mat-label>
                                <input matInput type="text" value="{{paymentRequest.ptasamon}}" disabled>
                            </mat-form-field>
                        </div> -->

                    </div>
                    <div class="row mt-4">
                        <div class="col col-3 text-center"><button mat-raised-button
                                (click)="cancelPaymentRequests()">Cancelar</button></div>
                        <!-- <div class="col col-8"></div> -->
                        <div class="col col-3 text-center">
                            <button mat-raised-button (click)="showDetailReceipts()" color="accent">Ver
                                Recibos</button>
                        </div>
                        <div class="col col-3 text-center">
                            <button mat-raised-button (click)="printPaymentRequest()" color="warn">Imprimir</button>
                        </div>
                        <div class="col col-3 text-center">
                            <button mat-raised-button (click)="proccessPaymentRequests(paymentRequest.csolpag)" color="primary"
                                [disabled]="paymentRequest.xstatsol == 'Cancelado'">Procesar
                                Orden</button>
                        </div>
                    </div>

                </mat-dialog-content>
            </form>
        </ng-template>


    </form>



    <ng-template #detailReceipts>
        <!-- {{}} -->
        <mat-dialog-content>

            <mat-form-field>
                <mat-label>Buscar</mat-label>
                <input matInput (keyup)="applyFilter2($event)" #input>
            </mat-form-field>

            <table mat-table [dataSource]="tableDetailReceipts" matSort (matSortChange)="sortData2($event)">
                <ng-container matColumnDef="0">
                    <th mat-header-cell *matHeaderCellDef mat-sort-header> Póliza </th>
                    <td mat-cell *matCellDef="let row"> {{row.cnpoliza}} </td>
                </ng-container>
                <ng-container matColumnDef="1">
                    <th mat-header-cell *matHeaderCellDef mat-sort-header> Recibo/Préstamo </th>
                    <td mat-cell *matCellDef="let row"> {{row.cnrecibo}} </td>
                </ng-container>
                <ng-container matColumnDef="2">
                    <th mat-header-cell *matHeaderCellDef mat-sort-header> Tipo Mov. </th>
                    <td mat-cell *matCellDef="let row"> {{row.imovcom}} </td>
                </ng-container>
                <ng-container matColumnDef="3">
                    <th mat-header-cell *matHeaderCellDef mat-sort-header mat-sort-header> Moneda Mov. </th>
                    <td mat-cell *matCellDef="let row"> {{row.cmoneda}} </td>
                </ng-container>
                <ng-container matColumnDef="4">
                    <th mat-header-cell *matHeaderCellDef mat-sort-header> Anexo </th>
                    <td mat-cell *matCellDef="let row"> {{row.canexo}} </td>
                </ng-container>
                <ng-container matColumnDef="5">
                    <th mat-header-cell *matHeaderCellDef mat-sort-header> Fecha </th>
                    <td mat-cell *matCellDef="let row"> {{row.femision | date: "dd/MM/YYYY"}} </td>
                </ng-container>
                <ng-container matColumnDef="6">
                    <th mat-header-cell *matHeaderCellDef mat-sort-header> Prima Bs. </th>
                    <td mat-cell *matCellDef="let row"> Bs. {{row.mmontoapag}} </td>
                </ng-container>
                <ng-container matColumnDef="7">
                    <th mat-header-cell *matHeaderCellDef mat-sort-header> Prima Usd. </th>
                    <td mat-cell *matCellDef="let row"> $. {{row.mmontoapagext}} </td>
                </ng-container>
                <ng-container matColumnDef="8">
                    <th mat-header-cell *matHeaderCellDef mat-sort-header> % Com. </th>
                    <td mat-cell *matCellDef="let row"> {{row.pcomision}}% </td>
                </ng-container>
                <ng-container matColumnDef="9">
                    <th mat-header-cell *matHeaderCellDef mat-sort-header> Comisión Bs. </th>
                    <td mat-cell *matCellDef="let row"> Bs.{{row.mmovcom}} </td>
                </ng-container>
                <ng-container matColumnDef="10">
                    <th mat-header-cell *matHeaderCellDef mat-sort-header> Comisión Usd. </th>
                    <td mat-cell *matCellDef="let row"> {{row.cmoneda}}{{row.mmovcomext}} </td>
                </ng-container>
                <ng-container matColumnDef="11">
                    <th mat-header-cell *matHeaderCellDef mat-sort-header> Tasa<br>Usd-Bcv. </th>
                    <td mat-cell *matCellDef="let row"> {{row.ptasamon}} </td>
                </ng-container>

                <!-- Row shown when there is no matching data. -->
                <tr mat-header-row *matHeaderRowDef="displayedColumns2"></tr>
                <tr mat-row *matRowDef="let row; columns: displayedColumns2;"></tr>
                <tr class="mat-row" *matNoDataRow>
                    <td class="mat-cell" colspan="4">No se han encontrado resultados</td>
                </tr>
            </table>
            <hr>
            <mat-paginator #allPaginator="matPaginator" [pageSizeOptions]="[5, 10, 25, 100]" ></mat-paginator>

            <hr>

            <div class="footer-table">
                <b>Total CO:</b>
                <span>Movimiento Bs: {{total_movcom_pr.toFixed(2)}}</span>
                <span>Movimiento Usd: {{total_movcomext_pr.toFixed(2)}}</span>
            </div>
            <br>
            <div class="footer-table">
                <b>Total BO:</b>
                <span>Movimiento Bs: {{total_movcom_bo.toFixed(2)}}</span>
                <span>Movimiento Usd: {{total_movcomext_bo.toFixed(2)}}</span>
            </div>
            <br>
            <div class="footer-table">
                <button mat-raised-button color="primary" (click)="closeDialog()"
                    style="width: 15%; text-align: center;">Cerrar</button>
            </div>

        </mat-dialog-content>
    </ng-template>


</div>