.mat-mdc-row .mat-mdc-cell {
    border-bottom: 1px solid transparent;
    border-top: 1px solid transparent;
    cursor: pointer;
  }
  
  .mat-mdc-row:hover .mat-mdc-cell {
    border-color: currentColor;
  }
  
  .footer-table {
    display: flex;
    flex-direction: row;
    justify-content: space-evenly;
  }
  
  mat-form-field {
    width: 100%;
  }
  
  input[disabled] {
    color: black;
  }
  
  .mat-mdc-row .mat-mdc-cell .dis {
    border-bottom: 1px solid transparent;
    border-top: 1px solid transparent;
    cursor: pointer;
  }