
<div class="card container">
    <div class="header-container">
        <div class="header-left">
          <button mat-icon-button color="#F5F5F5" aria-label="Example icon button with a home icon" (click)="backComponent()">
            <mat-icon>arrow_back_ios</mat-icon>
          </button>
        </div>
        <div class="header-right">
          <div class="header-content">
            <h5 class="title">Información del Menu Principal</h5>
          </div>
        </div>
      </div>
    <div class="card-body">
      <form [formGroup]="deleteMainMenu">
        <div class="row justify-content-center">
          <div class="col-md-3">
            <div class="form-group mb-3">
              <label for="cmenu_principal" class="label-opaque">Código</label>
              <input class="label-opaque" type="text" id="cmenu_principal" formControlName="cmenu_principal" class="form-control rounded-input" [ngClass]="{ 'disabled-field': deleteMainMenu.controls['cmenu_principal'].disabled }">
              <div class="invalid-feedback" *ngIf="submitted && deleteMainMenu.controls['cmenu_principal'].errors">Error en el código</div>
            </div>
          </div>
          <div class="col-md-3">
            <div class="form-group mb-3">
              <label for="xmenu" class="label-opaque">Nombre</label>
              <input class="label-opaque" type="text" id="xmenu" formControlName="xmenu" class="form-control rounded-input" [ngClass]="{ 'disabled-field': deleteMainMenu.controls['xmenu'].disabled }">
              <div class="invalid-feedback" *ngIf="submitted && deleteMainMenu.controls['xmenu'].errors">Error en el nombre</div>
            </div>
          </div>
          <div class="col-md-3">
            <div class="form-group mb-3">
              <label for="xicono" class="label-opaque">Icono</label>
              <input class="label-opaque" type="text" id="xicono" formControlName="xicono" class="form-control rounded-input" [ngClass]="{ 'disabled-field': deleteMainMenu.controls['xicono'].disabled }">
              <div class="invalid-feedback" *ngIf="submitted && deleteMainMenu.controls['xicono'].errors">Error en el nombre</div>
            </div>
          </div>
          <div class="col-md-3">
            <div class="form-group mb-3">
              <label for="xruta" class="label-opaque">Ruta</label>
              <input class="label-opaque" type="text" id="xruta" formControlName="xruta" class="form-control rounded-input" [ngClass]="{ 'disabled-field': deleteMainMenu.controls['xruta'].disabled }">
              <div class="invalid-feedback" *ngIf="submitted && deleteMainMenu.controls['xruta'].errors">Error en el nombre</div>
            </div>
          </div>
        </div>
        <div style="margin-top: 16px;">
            <button mat-flat-button color="warn" (click)="open()">Eliminar</button>
        </div>
      </form>
    </div>
  </div>

  <ng-template #DeleteMainMenu>
    <mat-dialog-content>
      <h1 mat-dialog-title class="text-center text-xl-left">Eliminación de Menu Principal</h1>
        <div class="row">
          <h2>¿Desea eliminar el menu principal de {{ deleteMainMenu.get('xmenu')!.value }}?</h2>
        </div>
    </mat-dialog-content>
    <mat-dialog-actions>
      <button class="red-button" mat-icon-button color="primary" aria-label="Example icon button with a home icon" (click)="closeModal()">
        <mat-icon>highlight_off</mat-icon>
      </button>
      <button class="green-button" mat-icon-button color="success" aria-label="Example icon button with a home icon" (click)="onSubmit()">
        <mat-icon>check_circle_outline</mat-icon>
      </button>
    </mat-dialog-actions>
  </ng-template>