<div class="card container-fluid">
    <form [formGroup]="groupReceiptsForm" >
        <div class="text-center">
            <h1>Gestión de Comisiones</h1>
        </div>
        <div class="text-center">
            <h3>Comisiones pendientes por Corredor</h3>
        </div>

        

        <ng-template #Alerta >
          
        </ng-template>

        <ng-template #Alerta1>
          <mat-dialog-content  style="width: 85%;">
              <h1>
                No es posible asociar transacciones que cuenten con recibos diferentes
              </h1> 
                
          </mat-dialog-content>
        </ng-template>

    </form>

</div>
