table {
    width: 100%;
  }
  
  th.mat-sort-header-sorted {
    color: black;
  }
.mat-stepper-horizontal {
    margin-top: 8px;
  }
  
.mat-mdc-form-field {
    margin-top: 16px;
  }
.mat-form-field-lg {
    width: 100%;
  }
.align-right-button {
    float: right;
  }
button {
  margin: 4px;
}
.peq{
  width: 23%;
}
.peq3{
  width: 15%;
}
.peq2{
  width: 11%;
}
.peq4{
  width: 12%;
}
.productor{
  width: 27%;
}
.fecha2{
  width: 17%;
}
.fecha{
  width: 19%;
}
.emision{
  width: 15%;
}
.planes{
  width: 20%;
}
.planes2{
  width: 20%;
  display: none;
}
.totalwidth{
  width: 100%;
}
td{
  font-size: 0.8rem;
}
.mat-mdc-form-field {
  margin-top: 16px;
}
.nombre_asegurado {
  width: 40%;
}
// .readonly-input, textarea {
//   pointer-events: none;
//   opacity: 0.5; 
// }