<div class="card container-fluid">

  <h2 style="text-align: center; font-size: 1.2rem;"><strong>CONSULTA DE
      PÓLIZAS</strong></h2>

  <!-- <div class="text-center">
    <h3>Ingrese Datos de la Póliza</h3>
  </div> -->
  <mat-stepper [linear]="isLinear" #stepper>
    <mat-step [stepControl]="polizaGroup">
      <form [formGroup]="polizaGroup">
        <ng-template matStepLabel>Selección de la Póliza</ng-template>

        <!-- DATOS DE LA PÓLIZA -->

        <div style="text-align: center;">
          <h2 style="margin-bottom: 0.1px; font-size: 1rem;">SELECCIONE LA
            PÓLIZA</h2>
        </div>
        <mat-form-field class="mat-form-field-lg">
          <mat-label>Buscar</mat-label>
          <input matInput (keyup)="applyFilter($event)" #input>
        </mat-form-field>
        <div class="mat-elevation-z8">
          <table mat-table [dataSource]="dataSource">

            <ng-container matColumnDef="select">
              <th mat-header-cell *matHeaderCellDef>
                <mat-checkbox (change)="$event ? masterToggle(null) : null"
                  [checked]="selection.hasValue() && isAllSelected()"
                  [indeterminate]="selection.hasValue() && !isAllSelected()">
                </mat-checkbox>
              </th>

              <td mat-cell *matCellDef="let row">
                <mat-checkbox (click)="$event.stopPropagation()"
                  (change)="$event ? masterToggle(row) : null"
                  [checked]="selection.isSelected(row)">
                </mat-checkbox>
              </td>
            </ng-container>

            <!-- Position Column -->
            <ng-container matColumnDef="Nro_Poliza">
              <th mat-header-cell *matHeaderCellDef> Póliza </th>
              <td mat-cell *matCellDef="let element" style="font-size: 12px;">
                {{element.Nro_Poliza}}
              </td>
            </ng-container>
            <!-- Name Column -->
            <ng-container matColumnDef="Descripcion_Ramo">
              <th mat-header-cell *matHeaderCellDef> Ramo </th>
              <td mat-cell *matCellDef="let element" style="font-size: 12px;">
                {{element.Descripcion_Ramo}} </td>
            </ng-container>
            <ng-container matColumnDef="Intermediario">
              <th mat-header-cell *matHeaderCellDef> Intermediario </th>
              <td mat-cell *matCellDef="let element" style="font-size: 12px;">
                {{element.Intermediario}}
              </td>
            </ng-container>
            <ng-container matColumnDef="Dias_de_vigencia">
              <th mat-header-cell *matHeaderCellDef> Vigencia </th>
              <td mat-cell *matCellDef="let element" style="font-size: 12px;">
                {{element.Dias_de_vigencia}} Días</td>
            </ng-container>
            <ng-container matColumnDef="Nombre_Asegurado">
              <th mat-header-cell *matHeaderCellDef> Asegurado </th>
              <td mat-cell *matCellDef="let element" style="font-size: 12px;">
                {{element.Nombre_Asegurado}} </td>
            </ng-container>

            <ng-container matColumnDef="Id_Asegurado">
              <th mat-header-cell *matHeaderCellDef> Identificación </th>
              <td mat-cell *matCellDef="let element" style="font-size: 12px;">
                {{element.Id_Asegurado}}
              </td>
            </ng-container>

            <ng-container matColumnDef="Estatus_Poliza">
              <th mat-header-cell *matHeaderCellDef> Estado </th>
              <td mat-cell *matCellDef="let element" style="font-size: 12px;">
                {{element.Estatus_Poliza}}
              </td>
            </ng-container>

            <tr mat-header-row *matHeaderRowDef="displayedColumns"></tr>
            <tr mat-row *matRowDef="let row; columns: displayedColumns;"></tr>
          </table>
          <br>
          <mat-paginator [pageSizeOptions]="[5, 10, 25, 50, 100]"
            showFirstLastButtons
            aria-label="Seleccione página">
          </mat-paginator>
        </div>

        <br>
        <div>
          <button class="align-right-button" mat-flat-button color="primary"
            mat-button matStepperNext (click)="pruebaDialog()">
            Siguiente
          </button>
        </div>
      </form>
    </mat-step>
<!-- DATOS DE LA PÓLIZA -->
    <mat-step [stepControl]="polizaGroup" label="Información de la Póliza"
      #stepper>
      <form [formGroup]="polizaGroup">

        <br>
        <div class="card" style="background-color: #fff;">
          <div class="card-header" style="background-color: #fff;">
            <h2 style="text-align: center; font-size: 1.1rem;"><strong>DATOS DEL
                TOMADOR - ASEGURADO</strong></h2>
          </div>
          <div class="row">

            <mat-form-field style="font-size: 0.9rem;" class="peq">
              <mat-label>C.I. Tomador:</mat-label>
              <span class="readonly-input">
                <input matInput
                  formControlName="ciTomadorInput"
                  readonly>
              </span>
            </mat-form-field>

            <mat-form-field style="font-size: 0.9rem;" class="peq">
              <mat-label>Tomador:</mat-label>
              <span class="readonly-input">
                <input matInput
                  formControlName="tomadorInput"
                  readonly>
              </span>
            </mat-form-field>

            <mat-form-field style="font-size: 0.9rem;" class="peq">
              <mat-label>C.I. Asegurado:</mat-label>
              <span class="readonly-input">
                <input matInput
                  formControlName="ciAseguradoInput"
                  readonly>
              </span>
            </mat-form-field>

            <mat-form-field style="font-size: 0.9rem;" class="peq">
              <mat-label>Asegurado:</mat-label>
              <span class="readonly-input">
                <input matInput
                  formControlName="nombreAseguradoInput"
                  readonly>
              </span>
            </mat-form-field>

            <mat-form-field style="font-size: 0.9rem;" class="peq">
              <mat-label>C.I. Beneficiario:</mat-label>
              <span class="readonly-input">
                <input matInput
                  formControlName="ciBeneficiarioInput"
                  readonly>
              </span>
            </mat-form-field>

            <mat-form-field style="font-size: 0.9rem;" class="peq">
              <mat-label>Beneficiario:</mat-label>
              <span class="readonly-input">
                <input matInput
                  formControlName="nombreBeneficiarioInput"
                  readonly>
              </span>
            </mat-form-field>

            <mat-form-field style="font-size: 1rem;" class="peq">
              <mat-label>Nro. Póliza:</mat-label>
              <span class="readonly-input">
                <input matInput
                  formControlName="nroPolizaInput"
                  readonly>
              </span>
            </mat-form-field>

            <mat-form-field style="font-size: 0.9rem;" class="peq">
              <mat-label>Descripción del Ramo:</mat-label>
              <span class="readonly-input">
                <input matInput
                  formControlName="descripcionRamo"
                  readonly>
              </span>
            </mat-form-field>
            <div class="card-header" style="background-color: #fff;">
              <h2 style="text-align: center; font-size: 1.1rem;"><strong>DATOS
                  DE LA PÓLIZA</strong></h2>
            </div>
            <mat-form-field style="font-size: 0.9rem;" class="peq2">
              <mat-label>Vigencia:</mat-label>
              <span class="readonly-input">
                <input matInput
                  formControlName="Vigencia"
                  readonly>
              </span>
            </mat-form-field>

            <mat-form-field style="font-size: 0.9rem;" class="fecha2">
              <mat-label>Fecha desde Póliza:</mat-label>
              <span class="readonly-input">
                <input matInput
                  formControlName="FechaDesdePol"
                  readonly>
              </span>
            </mat-form-field>

            <mat-form-field style="font-size: 0.9rem;" class="fecha2">
              <mat-label>Fecha hasta Póliza:</mat-label>
              <span class="readonly-input">
                <input matInput
                  formControlName="FechaHastaPol"
                  readonly>
              </span>
            </mat-form-field>

            <mat-form-field style="font-size: 0.9rem;" class="peq2">
              <mat-label>Renovación:</mat-label>
              <span class="readonly-input">
                <input matInput
                  formControlName="Tipo_Renovacion"
                  readonly>
              </span>
            </mat-form-field>

            <mat-form-field style="font-size: 0.9rem;" class="peq3">
              <mat-label>Sucursal:</mat-label>
              <span class="readonly-input">
                <input matInput
                  formControlName="Sucursal"
                  readonly>
              </span>
            </mat-form-field>

            <mat-form-field style="font-size: 0.9rem;" class="peq3">
              <mat-label>Estado de Póliza:</mat-label>
              <span class="readonly-input">
                <input matInput
                  formControlName="Estatus_Poliza"
                  readonly>
              </span>
            </mat-form-field>

            <mat-form-field style="font-size: 0.9rem;" class="productor">
              <mat-label>Productor:</mat-label>
              <span class="readonly-input">
                <input matInput
                  formControlName="cproductor"
                  readonly>
              </span>
            </mat-form-field>

            <mat-form-field style="font-size: 0.9rem;" class="peq2">
              <mat-label>Moneda:</mat-label>
              <span class="readonly-input">
                <input matInput
                  formControlName="Moneda"
                  readonly>
              </span>
            </mat-form-field>

            <mat-form-field style="font-size: 0.9rem;" class="peq2">
              <mat-label>Tasa:</mat-label>
              <span class="readonly-input">
                <input matInput
                  formControlName="Tasa_Cambio"
                  readonly>
              </span>
            </mat-form-field>

            <mat-form-field style="font-size: 0.9rem;" class="fecha">
              <mat-label>Fecha de Emisión:</mat-label>
              <span class="readonly-input">
                <input matInput
                  formControlName="Fecha_Emision"
                  readonly>
              </span>
            </mat-form-field>

            <mat-form-field style="font-size: 0.9rem;" class="planes">
              <mat-label>Plan:</mat-label>
              <span class="readonly-input">
                <input matInput
                  formControlName="Plan"
                  readonly>
              </span>
            </mat-form-field>

            <mat-form-field style="font-size: 0.9rem;" class="planes2">
              <mat-label>Descripción del Plan:</mat-label>
              <span class="readonly-input">
                <input matInput
                  formControlName="Descripcion_Plan"
                  readonly>
              </span>
            </mat-form-field>

            <mat-form-field style="font-size: 0.9rem;" class="planes2">
              <mat-label>Intermediario:</mat-label>
              <span class="readonly-input">
                <input matInput
                  formControlName="Intermediario"
                  readonly>
              </span>
            </mat-form-field>

            <mat-form-field style="font-size: 1rem;" class="totalwidth">
              <mat-label>Observaciones:</mat-label>
              <textarea matInput
                formControlName="Observacion"
                readonly>
          </textarea>
            </mat-form-field>

          </div>
        </div>
        <br>
        <div>
          <button *ngIf="showButton"
            (click)="buscarReporte()"
            [disabled]="!showButton" mat-raised-button
            class="mat-raised-button"
            style="color: #fff; background-color: #db2a13fb;">Cuadro Póliza
          </button>
          <button class="align-right-button" mat-flat-button color="primary"
            mat-button matStepperNext>Siguiente</button>
          <button class="align-right-button" mat-flat-button color="warn"
            mat-button matStepperPrevious>Regresar</button>
        </div>
      </form>
    </mat-step>

    <!-- DATOS TÉCNICOS -->
    <mat-step [stepControl]="datosTecnicos" label="Datos Técnicos" #stepper>
      <form [formGroup]="datosTecnicos">
        <br>
        <!-- ASEGURADOS -->
        <div class="card" style="background-color: #fff;" *ngIf="!ramoAuto && !ramoRcg">
          <div class="row">
            <div style="background-color: #fff;" formArrayName="asegurados">
              <div *ngFor="let item of asegurados.controls; let i=index "
                [formGroupName]="i">
                <div class="card-header" style="background-color: #fff;">
                  <h2
                    style="text-align: center; font-size: 1.1rem;"><strong>ASEGURADOS</strong></h2>
                </div>
                <br>
                <div class="card-body">
                  <h2
                    style="text-align: center; font-size: 1.1rem;"><strong>
                      {{item.value.xasegurado}}</strong></h2>
                  <mat-form-field style="font-size: 0.9rem; width: 35%;"
                    class="peq">
                    <mat-label>Nombre y Apellido:</mat-label>
                    <span class="readonly-input">
                      <input matInput
                        value={{item.value.xasegurado}}
                        readonly>
                    </span>
                  </mat-form-field>

                  <mat-form-field style="font-size: 0.9rem; width: 15%;"
                    class="peq">
                    <mat-label>C.I./R.I.F.:</mat-label>
                    <span class="readonly-input">
                      <input matInput
                        value={{item.value.xcedula_asegurado}}
                        readonly>
                    </span>
                  </mat-form-field>

                  <mat-form-field style="font-size: 0.9rem; width: 18%;"
                    class="peq">
                    <mat-label>Parentesco:</mat-label>
                    <span class="readonly-input">
                      <input matInput
                        value={{item.value.xparentesco_asegurado}}
                        readonly>
                    </span>
                  </mat-form-field>

                  <mat-form-field style="font-size: 0.9rem; width: 20%;"
                    class="peq">
                    <mat-label>Fecha de Nacimiento:</mat-label>
                    <span class="readonly-input">
                      <input matInput
                        value={{item.value.fnacimiento_asegurado}}
                        readonly>
                    </span>
                  </mat-form-field>

                  <div class="text-center">
                    <mat-form-field style="font-size: 0.9rem;" class="peq">
                      <mat-label>Estado Civil:</mat-label>
                      <span class="readonly-input">
                        <input matInput
                          value={{item.value.cestado_civil_asegurado}}
                          readonly>
                      </span>
                    </mat-form-field>

                    <mat-form-field style="font-size: 0.9rem;" class="peq">
                      <mat-label>Sexo:</mat-label>
                      <span class="readonly-input">
                        <input matInput
                          value={{item.value.csexo_asegurado}}
                          readonly>
                      </span>
                    </mat-form-field>

                    <mat-form-field style="font-size: 0.9rem;" class="peq">
                      <mat-label>Fecha Ingreso:</mat-label>
                      <span class="readonly-input">
                        <input matInput
                          value={{item.value.fingreso_asegurado}}
                          readonly>
                      </span>
                    </mat-form-field>
                  </div>
                </div>
              </div>
            </div>
          </div>
        </div>
        <!-- BENEFICIARIOS -->
        <div class="card" style="background-color: #fff;" *ngIf="!ramoAuto && !ramoRcg">
          <div class="row">
            <div style="background-color: #fff;" formArrayName="beneficiarios">
              <div *ngFor="let item of beneficiarios.controls; let i=index "
                [formGroupName]="i">
                <div class="card-header" style="background-color: #fff;">
                  <h2
                    style="text-align: center; font-size: 1.1rem;"><strong>BENEFICIARIOS</strong></h2>
                </div>
                <br>
                <div class="card-body">
                  <h2
                    style="text-align: center; font-size: 1.1rem;"><strong>{{item.value.xbeneficiario}}</strong></h2>

                  <mat-form-field style="font-size: 0.9rem; width: 35%;">
                    <mat-label>Nombre y Apellido:</mat-label>
                    <span class="readonly-input">
                      <input matInput
                        value={{item.value.xbeneficiario}}
                        readonly>
                    </span>
                  </mat-form-field>

                  <mat-form-field style="font-size: 0.9rem; width: 15%;"
                    class="peq">
                    <mat-label>C.I./R.I.F.:</mat-label>
                    <span class="readonly-input">
                      <input matInput
                        value={{item.value.xcedula_beneficiario}}
                        readonly>
                    </span>
                  </mat-form-field>

                  <mat-form-field style="font-size: 0.9rem; width: 18%;"
                    class="peq">
                    <mat-label>Parentesco:</mat-label>
                    <span class="readonly-input">
                      <input matInput
                        value={{item.value.xparentesco_beneficiario}}
                        readonly>
                    </span>
                  </mat-form-field>

                  <mat-form-field style="font-size: 0.9rem; width: 20%;"
                    class="peq">
                    <mat-label>Fecha de Nacimiento:</mat-label>
                    <span class="readonly-input">
                      <input matInput
                        value={{item.value.fnacimiento_beneficiario}}
                        readonly>
                    </span>
                  </mat-form-field>

                  <div class="text-center">
                    <mat-form-field style="font-size: 0.9rem;" class="peq">
                      <mat-label>Sexo:</mat-label>
                      <span class="readonly-input">
                        <input matInput
                          value={{item.value.csexo_beneficiario}}
                          readonly>
                      </span>
                    </mat-form-field>

                    <mat-form-field style="font-size: 0.9rem;" class="peq">
                      <mat-label>Fecha de Ingreso:</mat-label>
                      <span class="readonly-input">
                        <input matInput
                          value={{item.value.fingreso_beneficiario}}
                          readonly>
                      </span>
                    </mat-form-field>

                    <mat-form-field style="font-size: 0.9rem;" class="peq">
                      <mat-label>Estado Civil:</mat-label>
                      <span class="readonly-input">
                        <input matInput
                          value={{item.value.cestado_civil_beneficiario}}
                          readonly>
                      </span>
                    </mat-form-field>
                  </div>
                </div>
              </div>
            </div>
          </div>
        </div>
        <!-- Ramo de Riesgos Generales  -->
        <div class="card" style="background-color: #fff;" *ngIf="!ramoAuto && ramoRcg">
          <div class="row">
            <div style="background-color: #fff;"
              formArrayName="descrip">
              <div *ngFor="let item of descrip.controls; let i=index "
                [formGroupName]="i">
                <div class="card-header" style="background-color: #fff;">
                  <h2
                    style="text-align: center; font-size: 1.1rem;"><strong>DESCRIPCIÓN
                      DE PÓLIZA: {{item.value.Descrip_Ramo}}</strong></h2>
                </div>
                <br>
                <div class="card-body">
                  <mat-form-field style="font-size: 0.9rem; width: 100%;">
                    <mat-label>Descripción #1:</mat-label>
                    <span class="readonly-input">
                      <input matInput
                        value={{item.value.xdescripcion}}
                        readonly>
                    </span>
                  </mat-form-field>
                  <mat-form-field style="font-size: 0.9rem; width: 100%;">
                    <mat-label>Descripción #2:</mat-label>
                    <span class="readonly-input">
                      <input matInput
                        value={{item.value.xdescripcion2}}
                        readonly>
                    </span>
                  </mat-form-field>

                  <mat-form-field style="font-size: 0.9rem; width: 100%;">
                    <mat-label>Descripción #3:</mat-label>
                    <span class="readonly-input">
                      <input matInput
                        value={{item.value.xdescripcion3}}
                        readonly>
                    </span>
                  </mat-form-field>

                  <mat-form-field style="font-size: 0.9rem; width: 100%;">
                    <mat-label>Descripción #4:</mat-label>
                    <span class="readonly-input">
                      <input matInput
                        value={{item.value.xdescripcion4}}
                        readonly>
                    </span>
                  </mat-form-field>
                </div>
              </div>
            </div>
          </div>
        </div>
        <!-- Datos de Automóvil -->
        <div class="card" style="background-color: #fff;" *ngIf="ramoAuto && !ramoRcg">
          <div class="row">
            <div style="background-color: #fff;"
              formArrayName="automovil">
              <div *ngFor="let item of automovil.controls; let i=index "
                [formGroupName]="i">
                <div class="card-header" style="background-color: #fff;">
                  <h2 style="text-align: center; font-size: 1.1rem;"><strong>
                      DATOS
                      DEL VEHÍCULO -
                      {{item.value.XMODELO}} :
                      {{item.value.XPLACA}}</strong></h2>
                </div>
                <br>
                <div class="card-body">
                  <mat-form-field style="font-size: 0.9rem; width: 14%;"
                    class="peq">
                    <mat-label>Estatus:</mat-label>
                    <span class="readonly-input">
                      <input matInput
                        value={{item.value.XESTATUSGENERAL}}
                        readonly>
                    </span>
                  </mat-form-field>
                  <mat-form-field style="font-size: 0.9rem; width: 15%;">
                    <mat-label>Placa:</mat-label>
                    <span class="readonly-input">
                      <input matInput
                        value={{item.value.XPLACA}}
                        readonly>
                    </span>
                  </mat-form-field>
                  <mat-form-field style="font-size: 0.9rem; width: 22%;">
                    <mat-label>Serial Carrocería:</mat-label>
                    <span class="readonly-input">
                      <input matInput
                        value={{item.value.XSERIALCARROCERIA}}
                        readonly>
                    </span>
                  </mat-form-field>
                  <mat-form-field style="font-size: 0.9rem; width: 23%;">
                    <mat-label>Serial Motor:</mat-label>
                    <span class="readonly-input">
                      <input matInput
                        value={{item.value.XSERIALMOTOR}}
                        readonly>
                    </span>
                  </mat-form-field>
                  <mat-form-field style="font-size: 0.9rem; width: 14%;">
                    <mat-label>Color:</mat-label>
                    <span class="readonly-input">
                      <input matInput
                        value={{item.value.XCOLOR}}
                        readonly>
                    </span>
                  </mat-form-field>
                  <mat-form-field style="font-size: 0.9rem; width: 15%;">
                    <mat-label>Marca:</mat-label>
                    <span class="readonly-input">
                      <input matInput
                        value={{item.value.XMARCA}}
                        readonly>
                    </span>
                  </mat-form-field>
                  <mat-form-field style="font-size: 0.9rem; width: 18%;">
                    <mat-label>Modelo:</mat-label>
                    <span class="readonly-input">
                      <input matInput
                        value={{item.value.XMODELO}}
                        readonly>
                    </span>
                  </mat-form-field>
                  <mat-form-field style="font-size: 0.9rem; width: 12%;">
                    <mat-label>Año:</mat-label>
                    <span class="readonly-input">
                      <input matInput
                        value={{item.value.FANO}}
                        readonly>
                    </span>
                  </mat-form-field>
                  <mat-form-field style="font-size: 0.9rem; width: 15%;">
                    <mat-label>Transmisión:</mat-label>
                    <span class="readonly-input">
                      <input matInput
                        value={{item.value.XTRANSMISION}}
                        readonly>
                    </span>
                  </mat-form-field>
                  <mat-form-field style="font-size: 0.9rem; width: 28%;">
                    <mat-label>Versión:</mat-label>
                    <span class="readonly-input">
                      <input matInput
                        value={{item.value.XVERSION}}
                        readonly>
                    </span>
                  </mat-form-field>
                  <div class="text-center">
                    <mat-form-field style="font-size: 0.9rem; width: 30%;">
                      <mat-label>Uso:</mat-label>
                      <span class="readonly-input">
                        <input matInput
                          value={{item.value.XUSO}}
                          readonly>
                      </span>
                    </mat-form-field>
                  </div>
                </div>
              </div>
            </div>
          </div>
        </div>
        <!-- BOTONES -->
          <div>
          <br>
          <button class="align-right-button" mat-flat-button color="primary"
            mat-button matStepperNext>Siguiente</button>
          <button class="align-right-button" mat-flat-button color="warn"
            mat-button matStepperPrevious>Regresar</button>
          <button class="align-left-button" mat-flat-button
            style="background-color: #b6b6b6; color: white;"
            mat-button disabled>Editar</button>
          <!-- #447bd7; -->
        </div>
      </form>
    </mat-step>
    <!-- DATOS DE LOS RECIBOS -->
    <mat-step>
      <ng-template matStepLabel>Recibos Asociados</ng-template>
      <div>
        <h2 style="text-align: center;"><strong>INFORMACIÓN DE LOS
            RECIBOS</strong></h2>
        <div class="mat-elevation-z8">
          <br>
          <table mat-table [dataSource]="recibosData">
            <!-- Position Column -->
            <ng-container matColumnDef="cnrecibo">
              <th mat-header-cell *matHeaderCellDef> No. Recibo </th>
              <td mat-cell *matCellDef="let element"> {{element.cnrecibo}}
                <mat-icon
                  style="font-size: 24px; margin-left: 3px; cursor: pointer;"
                  (click)="openR(element.crecibo)">picture_as_pdf </mat-icon>
              </td>
            </ng-container>
            <!-- Name Column -->
            <ng-container matColumnDef="Cuotas">
              <th mat-header-cell *matHeaderCellDef> Cuotas </th>
              <td mat-cell *matCellDef="let element">
                {{element.Cuotas}} </td>
            </ng-container>
            <ng-container matColumnDef="Fecha_desde_Rec">
              <th mat-header-cell *matHeaderCellDef> Fecha desde Recibo </th>
              <td mat-cell *matCellDef="let element">
                {{element.Fecha_desde_Rec}} </td>
            </ng-container>
            <ng-container matColumnDef="Fecha_hasta_Rec">
              <th mat-header-cell *matHeaderCellDef> Fecha hasta Recibo </th>
              <td mat-cell *matCellDef="let element">
                {{element.Fecha_hasta_Rec}}
              </td>
            </ng-container>
            <ng-container matColumnDef="Monto_Rec">
              <th mat-header-cell *matHeaderCellDef> Monto </th>
              <td mat-cell *matCellDef="let element">
                {{element.Monto_Rec}}</td>
            </ng-container>
            <ng-container matColumnDef="Monto_Rec_Ext">
              <th mat-header-cell *matHeaderCellDef> Monto Extranjero </th>
              <td mat-cell *matCellDef="let element">
                {{element.Monto_Rec_Ext}} </td>
            </ng-container>

            <ng-container matColumnDef="Status_Rec">
              <th mat-header-cell *matHeaderCellDef> Estado </th>
              <td mat-cell *matCellDef="let element"> {{element.Status_Rec}}
              </td>
            </ng-container>

            <ng-container matColumnDef="ctransaccion">
              <th mat-header-cell *matHeaderCellDef> Transacción </th>
              <td mat-cell *matCellDef="let element">
                {{element.ctransaccion}}
                <!-- (click)="openT(element.ctransaccion) -->
                <!-- <mat-icon style="font-size: 24px; margin-left: 3px; cursor: pointer;" *ngIf="element.ctransaccion !== 'N/A'">picture_as_pdf</mat-icon> -->
              </td>
            </ng-container>

            <tr mat-header-row *matHeaderRowDef="ColumnsRecibos"></tr>
            <tr mat-row *matRowDef="let row; columns: ColumnsRecibos;"></tr>
          </table>
        </div>
        <br>
        <button class="align-right-button" mat-flat-button color="primary"
          mat-button (click)="stepper.reset()">Inicio</button>
        <button class="align-right-button" mat-flat-button color="warn"
          mat-button matStepperPrevious>Regresar</button>
      </div>
    </mat-step>
  </mat-stepper>