table {
    width: 100%;
  }
  
  th.mat-sort-header-sorted {
    color: black;
  }
.mat-stepper-horizontal {
    margin-top: 8px;
  }
  
.mat-mdc-form-field {
    margin-top: 16px;
  }
.mat-form-field-lg {
    width: 100%;
  }
.align-right-button {
    float: right;
  }
button {
  margin: 4px;
}
.medium{
  width: 25%;
}
.menosmedium{
  width: 17%;
}
.menosmedium2{
  width: 31%;
}
.menosmedium3{
  width: 22%;
}
.peq{
  width: 14%;
}
.peq2{
  width: 15%;
}
.med{
  width: 18%;
}
.totalwidth{
  width: 100%;
}

// .readonly-input, textarea {
//   pointer-events: none;
//   opacity: 0.5; 
// }