<div class="card container registration-form" *ngIf="vector">
    <div class="row">
        <div class="col-6">
            <div class="card-quotes" >
                <form [formGroup]="quotesForm">
                    <div class="bg">
                        <div class="center">
                            <h3><strong style="color: #3f51b5;">Cotización de Automóvil</strong></h3>
                        </div>
                        <div class="row">
                            <div class="col-6">
                                <mat-form-field class="example-full-width">
                                  <mat-label>Año</mat-label>
                                  <input matInput type="number" placeholder="Año" formControlName="fano" (change)="changeYears()">
                                </mat-form-field>
                            </div>
                            <div class="col-6">
                                <mat-form-field class="example-full-width mat-form-field">
                                  <mat-label>Marca</mat-label>
                                  <input type="text"
                                         placeholder="Seleccione Marca"
                                         aria-label="Seleccione"
                                         matInput
                                         [formControl]="brandControl"
                                         [matAutocomplete]="brand"
                                         required>
                                         <mat-autocomplete #brand="matAutocomplete" (optionSelected)="onBrandSelection($event)">
                                          <mat-option *ngFor="let brand of filteredBrand | async" [value]="brand">
                                            {{ brand }}
                                          </mat-option>
                                        </mat-autocomplete>
                                </mat-form-field>
                            </div>
                        </div>
        
                        <div class="row">
                            <div class="col-6">
                                <mat-form-field class="example-full-width">
                                  <mat-label>Modelo</mat-label>
                                  <input type="text"
                                        placeholder="Seleccione Modelo"
                                        aria-label="Seleccione"
                                        matInput
                                        [formControl]="modelControl"
                                        [matAutocomplete]="model"
                                        required>
                                        <mat-autocomplete #model="matAutocomplete" (optionSelected)="onModelSelection($event)">
                                          <mat-option *ngFor="let model of filteredModel | async" [value]="model">
                                            {{ model }}
                                          </mat-option>
                                        </mat-autocomplete>
                                </mat-form-field>
                            </div>
                            <div class="col-6">
                                <mat-form-field class="example-full-width">
                                  <mat-label>Version</mat-label>
                                  <input type="text"
                                        placeholder="Seleccione Version"
                                        aria-label="Seleccione"
                                        matInput
                                        [formControl]="versionControl"
                                        [matAutocomplete]="version"
                                        required>
                                        <mat-autocomplete #version="matAutocomplete" (optionSelected)="onVersionSelection($event)">
                                          <mat-option *ngFor="let version of filteredVersion | async" [value]="version">
                                            {{ version }}
                                          </mat-option>
                                        </mat-autocomplete>
                                </mat-form-field>
                            </div>
                        </div>

                        <div class="col-12" *ngIf="activateRate">
                          <mat-form-field class="example-full-width">
                              <mat-label>Tarifas</mat-label>
                              <input type="text"
                                    placeholder="Seleccione Tarifa"
                                    aria-label="Seleccione"
                                    matInput
                                    [formControl]="ratesControl"
                                    [matAutocomplete]="rates"
                                    required>
                              <mat-autocomplete #rates="matAutocomplete" (optionSelected)="onRatesSelection($event)">
                                <mat-option *ngFor="let rates of filteredRates | async" [value]="rates">
                                  {{ rates }}
                                </mat-option>
                              </mat-autocomplete>
                            </mat-form-field>
                        </div>

                        <div class="col-12">
                          <mat-form-field class="example-full-width">
                            <mat-label>Corredores</mat-label>
                            <input type="text"
                                  placeholder="Seleccione Corredor"
                                  aria-label="Seleccione"
                                  matInput
                                  [formControl]="brokerControl"
                                  [matAutocomplete]="broker"
                                  >
                            <mat-autocomplete #broker="matAutocomplete" (optionSelected)="onBrokerSelection($event)">
                              <mat-option *ngFor="let broker of filteredBroker | async" [value]="broker">
                                {{ broker }}
                              </mat-option>
                            </mat-autocomplete>
                          </mat-form-field>
                        </div>

                        <div class="col-12">
                            <mat-form-field class="example-full-width">
                                <mat-label>Nombre</mat-label>
                                <input matInput placeholder="Nombre" formControlName="xnombre">
                            </mat-form-field>
                        </div>

                        <div class="col-12">
                            <mat-form-field class="example-full-width">
                                <mat-label>Apelllido</mat-label>
                                <input matInput placeholder="Apelllido" formControlName="xapellido" required>
                            </mat-form-field>
                        </div>

                        <div class="col-12">
                            <mat-form-field class="example-full-width">
                                <mat-label>Correo</mat-label>
                                <input matInput placeholder="Correo" formControlName="email" (change)="validateForm()" required>
                            </mat-form-field>
                        </div>
                    </div>

                    <div class="bg-loading" *ngIf="loading">
                        <div class="center">
                            <h3><strong style="color: #3f51b5;">Cotización de Automóvil</strong></h3>
                        </div>
                        <div class="col-4" *ngIf="loading" style="margin-top: 172px; margin-left: 109px;">
                            <div id="container">
                              <label class="loading-title">Cargando Cotización</label>
                              <span class="loading-circle sp1">
                                <span class="loading-circle sp2">
                                  <span class="loading-circle sp3"></span>
                                </span>
                              </span>
                            </div>
                        </div>
                    </div>
                </form>
            </div>
        </div>
        <div class="col-6" *ngIf="vector">
            <img src="../../../../assets/images/Vector-Automovil.jpg" style="width: 108%;margin-left: -93px;height: 418px">
        </div>

        <div class="col-6" *ngIf="buttonQuotes">
            <button mat-raised-button color="primary" (click)="onSubmit()" style="width: 42%; margin-top: -150px; margin-left: 630px;"><mat-icon>send</mat-icon>Cotizar</button>
        </div>
    </div>
</div>

<div class="container bg-white  registration-form" *ngIf="distributionCard">

    <div class="row rounded justify-content-center py-2" style="background-color: #447bd7;">
      <h2 class="text-center text-light mb-4" style="font-size: xx-large;">Cotización de Automóvil</h2>
      <div class="col-lg-3 text-center text-light">
        <mat-icon  style="width: 48px; height: 39px;font-size: 47px;">toc</mat-icon>
        <h4>N° de Cotización: {{cotizacion}}</h4>
      </div>
      <div class="col-lg-3 text-center text-light">
        <mat-icon style="width: 48px; height: 37px;font-size: 39px;">assignment_ind</mat-icon>
        <h4>{{nombreCompleto}}</h4>
      </div>
      <div class="col-lg-3 text-center text-light">
        <mat-icon style="width: 48px; height: 39px;font-size: 47px;">directions_car</mat-icon>
        <h4>{{vehiculo}}</h4>
      </div>
      <div class="col-lg-3 text-center text-light">
        <mat-icon style="width: 48px; height: 39px;font-size: 47px;">account_balance_wallet</mat-icon>
        <h4>Tasa de Cambio: {{bcv}}</h4>
      </div>
    </div>
    <div class="row justify-content-center mt-4">
      <form [formGroup]="quotesForm">
        <div class="col-lg-12 d-flex justify-content-center">
          <div class="d-flex flex-wrap justify-content-center" *ngIf="quotesBoolean">
            <div class="card col-lg-3 mb-3 m-1 text-center" *ngFor="let quotes of quotesList; let i = index" [class.activate]="isActive" style="width: 308px;">
              <div class="card-header bg-transparent border-0" >
                <strong style="color: #696969c9;">{{quotes.xplan_rc}}</strong>
                <!-- <h5 class="py-2"><strong>Responsabilidad Civil</strong></h5> -->
              </div>
              <div class="card-body" *ngIf="quotesBoolean">
                <div style="display: flex; justify-content: space-between; align-items: center;">
                  <div>
                    <strong>Rcv: </strong>{{quotes.mtotal_rcv}}$ / Anual
                  </div>
                  <div>
                    <mat-slide-toggle color="primary" (change)="onToggle('Rcv', quotes.cplan_rc)"></mat-slide-toggle>
                  </div>
                </div>
                <br>
                <div *ngIf="isYearValid">
                  <div style="display: flex; justify-content: space-between; align-items: center;">
                    <div>
                      <strong>C. Amplia: </strong>{{quotes.mtotal_amplia}}$ / Anual
                    </div>
                    <div>
                      <mat-slide-toggle color="primary" (change)="onToggle('Cobertura Amplia', quotes.cplan_rc)"></mat-slide-toggle>
                    </div>
                  </div>
                  <br>
                  <div style="display: flex; justify-content: space-between; align-items: center;">
                    <div>
                      <strong>P. Total: </strong>{{quotes.mtotal_perdida}}$ / Anual
                    </div>
                    <div>
                      <mat-slide-toggle color="primary" (change)="onToggle('Perdida Total', quotes.cplan_rc)"></mat-slide-toggle>
                    </div>
                  </div>
                </div>


                <div class="col-10 offset-md-6" style="margin-top: 20px;">
                  <div class="example-button-container">
                    <button mat-mini-fab color="primary" (click)="openCoverages(quotes)">
                      <mat-icon>info</mat-icon>
                    </button>
                  </div> 
                </div>

              </div>
            </div>
          </div>

          <div class="col-4" style="margin-bottom: 67px;" *ngIf="loading">
            <div id="container">
              <label class="loading-title">Cargando Cotización</label>
              <span class="loading-circle sp1">
                <span class="loading-circle sp2">
                  <span class="loading-circle sp3"></span>
                </span>
              </span>
            </div>
          </div>

          <div class="col-4" style="margin-bottom: 67px;" *ngIf="check">
            <div class="card-listo"> 
              <button type="button" class="dismiss">×</button> 
              <div class="header"> 
                <div class="image">
                  <svg xmlns="http://www.w3.org/2000/svg" fill="none" viewBox="0 0 24 24"><g stroke-width="0" id="SVGRepo_bgCarrier"></g><g stroke-linejoin="round" stroke-linecap="round" id="SVGRepo_tracerCarrier"></g><g id="SVGRepo_iconCarrier"> <path stroke-linejoin="round" stroke-linecap="round" stroke-width="1.5" stroke="#000000" d="M20 7L9.00004 18L3.99994 13"></path> </g></svg>
                  </div> 
                  <div class="content">
                     <span class="title">Cotización Exitosa</span> 
                     </div> 
                  </div> 
              </div>
          </div>
          
        </div>
      </form>
    </div>
  
</div>

<ng-template #coverageModal let-modal>
  <div class="modal-body">
    <mat-tab-group>
      <mat-tab label="Rcv"> 
        <div class="col-6 py-4 mx-auto">
          <div class="container-coverage">
              <p class="title-coverage">Rcv</p>
              <p class="price-coverage">{{ montoRCV }}$<span> / Anual</span></p>
    
              <ng-container *ngFor="let coverage of coverageListRcv">
                <p *ngIf="coverage.ititulo === 'T'; else normalText" class="bold-text">{{ coverage.xcobertura }}</p>
                <ng-template #normalText>
                    <p>{{ coverage.xcobertura }}</p>
                </ng-template>
              </ng-container>
    
              <div class="ribbon-wrap-coverage">
                  <div class="ribbon-coverage">Oferta</div>
              </div>
          </div>
        </div>
      </mat-tab>
      <mat-tab label="Cobertura Amplia" *ngIf="isYearValid">
        <div class="col-6 py-4 mx-auto">
          <div class="container-coverage">
            <p class="title-coverage">Cobertura Amplia</p>
            <p class="price-coverage">{{montoAmplia}}$<span> / Anual</span></p>
            <ng-container *ngFor="let coverage of coverageListAmplia">
              <p *ngIf="coverage.ititulo === 'T'; else normalText" class="bold-text">{{ coverage.xcobertura }}</p>
              <ng-template #normalText>
                  <p>{{ coverage.xcobertura }}</p>
              </ng-template>
            </ng-container>
  
            <div class="ribbon-wrap-coverage">
              <div class="ribbon-coverage">Oferta</div>
            </div>
          </div>
        </div>
      </mat-tab>
      <mat-tab label="Pérdida Total" *ngIf="isYearValid"> 
        <div class="col-6 py-4 mx-auto">
          <div class="container-coverage">
            <p class="title-coverage">Pérdida Total</p>
            <p class="price-coverage">{{montoPerdida}}$<span> / Anual</span></p>
            <ng-container *ngFor="let coverage of coverageListPerdida">
              <p *ngIf="coverage.ititulo === 'T'; else normalText" class="bold-text">{{ coverage.xcobertura }}</p>
              <ng-template #normalText>
                  <p>{{ coverage.xcobertura }}</p>
              </ng-template>
            </ng-container>
  
            <div class="ribbon-wrap-coverage">
              <div class="ribbon-coverage">Oferta</div>
            </div>
          </div>
        </div>
      </mat-tab>
    </mat-tab-group>

    <div class="col-12" style="text-align: end;">
      <button mat-raised-button color="primary" (click)="onQuotePdf()">Comparativa</button>
    </div>

  </div>
</ng-template>