.card-container {
    width: 100%;
    max-width: 600px; /* Aumenta el ancho máximo para hacerlo más grande */
    height: 400px; /* Aumenta la altura para hacerlo más grande */
    background-image: url('../../../assets/images/Vector-Trabajo.png');
    background-size: cover;
    display: flex;
    align-items: center;
    justify-content: center;
    // margin: 0 auto; /* Centra horizontalmente el contenedor en su contenedor padre */
}

@media (max-width: 768px) {
    .image-container {
        max-width: 100%;
    }
}

.reset {
    margin: 0;
    padding: 0;
}
.mat-raised-button{
  width: 35%;
  margin-left: 12px;
  margin-top: 10px;
  margin-bottom: 10px;
  margin-right: 10px;
}
.mat-enviar{
  width: 20%;
  margin-left: 12px;
  margin-top: 10px;
  margin-bottom: 10px;
  margin-right: 10px;
}
.title_receipt{
    margin-top: 10px;
}
.izquierda {
    margin-right: 6px;
    float: left;
  }
.izquierda_op {
    margin-right: 6px;
    float: left;
    opacity: 0.4;
  }
.mat-mdc-chip-set {
    max-width: 200px;
  }
.text_bottom {
    font-size: 18px;
    margin-left: 25px;
  }
