<div class="card container registration-form" *ngIf="showTable">
    <form>
      <mat-form-field>
        <mat-label>Buscar</mat-label>
        <input matInput (keyup)="applyFilter($event)" placeholder="Ingresa datos" #input>
      </mat-form-field>
            
      <table mat-table [dataSource]="dataSource" class="mat-elevation-z8" matSort>
        <!-- Columna Crámo -->
          
     
          <ng-container matColumnDef="cedula">
            <th mat-header-cell *matHeaderCellDef mat-sort-header> Cédula </th>
            <td mat-cell *matCellDef="let element"> {{ element.cedula }} </td>
          </ng-container>

          <ng-container matColumnDef="nombApell">
            <th mat-header-cell *matHeaderCellDef mat-sort-header> Nombre y Apellido </th>
            <td mat-cell *matCellDef="let element"> {{ element.nombApell }} </td>
          </ng-container>

          <ng-container matColumnDef="correo">
            <th mat-header-cell *matHeaderCellDef mat-sort-header> Correo </th>
            <td mat-cell *matCellDef="let element"> {{ element.correo }} </td>
          </ng-container>

          <ng-container matColumnDef="nrofac">
            <th mat-header-cell *matHeaderCellDef mat-sort-header> N° Factura </th>
            <td mat-cell *matCellDef="let element"> {{ element.nrofac }} </td>
          </ng-container>

          <ng-container matColumnDef="localidad">
            <th mat-header-cell *matHeaderCellDef mat-sort-header> Localidad </th>
            <td mat-cell *matCellDef="let element"> {{ element.localidad }} </td>
          </ng-container>

          <ng-container matColumnDef="plan_adquirido">
            <th mat-header-cell *matHeaderCellDef mat-sort-header> Plan </th>
            <td mat-cell *matCellDef="let element"> {{ element.plan_adquirido }} </td>
          </ng-container>

          <ng-container matColumnDef="fecha_in">
            <th mat-header-cell *matHeaderCellDef mat-sort-header> Fecha Inicio </th>
            <td mat-cell *matCellDef="let element"> {{ element.fecha_in }} </td>
          </ng-container>

          <ng-container matColumnDef="fecha_out">
            <th mat-header-cell *matHeaderCellDef mat-sort-header> Fecha Final </th>
            <td mat-cell *matCellDef="let element"> {{ element.fecha_out }} </td>
          </ng-container>
          
            
        <tr mat-header-row *matHeaderRowDef="displayedColumns"></tr>
        <tr mat-row *matRowDef="let row; columns: displayedColumns;"></tr>
            
        <!-- Fila que se muestra cuando no hay datos coincidentes. -->
        <tr class="mat-row" *matNoDataRow>
          <td class="mat-cell" colspan="2">No hay datos que coincidan con el filtro</td>
        </tr>
      </table>
            
      <mat-paginator [pageSizeOptions]="[5, 10, 25, 100]" aria-label="Seleccionar página de Departamentos"></mat-paginator>

      <div class="container" style="display: flex; justify-content: flex-end; align-items: flex-start;">
        <div style="display: flex; flex-direction: column; align-items: flex-end;">

        </div>
      </div>

    </form>
  </div>
  <router-outlet></router-outlet>