/* You can add global styles to this file, and also import other style files */
// If you want to override variables do it here
@import "variables";

$enable-ltr: true;
$enable-rtl: true;

// Import styles with default layout.
@import "@coreui/coreui/scss/coreui";

// Import Chart.js custom tooltips styles
@import "@coreui/chartjs/scss/coreui-chartjs";


@import "layout";

// Some temp fixes
@import "fixes";

// Prism.js
@import "examples";

// If you want to add something do it here
@import "custom";

html, body { height: 100%; }
body { margin: 0; font-family: Roboto, "Helvetica Neue", sans-serif; }

.mdc-text-field--filled:not(.mdc-text-field--disabled) {
    background-color: #6060601c;
}

.mdc-text-field:not(.mdc-text-field--disabled) .mdc-floating-label {
    color: rgb(0 46 255 / 60%);
}

.mdc-text-field:not(.mdc-text-field--disabled) .mdc-text-field__input {
    color: rgb(3 1 1);
}

.mdc-text-field--filled .mdc-line-ripple::after {
    border-bottom-color: rgb(0 46 255 / 60%);
}

.mdc-text-field--focused:not(.mdc-text-field--disabled) 
.mdc-floating-label {
    color:rgb(0 46 255 / 60%);
}

.mdc-text-field--focused:not(.mdc-text-field--disabled) .mdc-floating-label {
    color:rgb(0 46 255 / 60%);
}
.form-control.rounded-input {
    border-radius: 20px;
}
.label-opaque {
    font-family: 'Roboto', 'Helvetica', 'Arial', sans-serif;
    font-weight: 300;
  }

