/* You can add global styles to this file, and also import other style files */
// If you want to override variables do it here
@import "variables";

$enable-ltr: true;
$enable-rtl: true;

// Import styles with default layout.
@import "@coreui/coreui/scss/coreui";

// Import Chart.js custom tooltips styles
@import "@coreui/chartjs/scss/coreui-chartjs";


@import "layout";

// Some temp fixes
@import "fixes";

// Prism.js
@import "examples";

// If you want to add something do it here
@import "custom";

html, body { height: 100%; }
body { margin: 0; font-family: Roboto, "Helvetica Neue", sans-serif; }


input[type=number]::-webkit-inner-spin-button, 
input[type=number]::-webkit-outer-spin-button { 
  -webkit-appearance: none; 
  margin: 0; 
}

input[type=number] { -moz-appearance:textfield; }


.mdc-text-field--filled:not(.mdc-text-field--disabled) {
    background-color: rgb(255 255 255 / 11%)
}

.mdc-text-field:not(.mdc-text-field--disabled) .mdc-floating-label {
    color: rgb(0 0 0 / 60%);
}

.mdc-text-field:not(.mdc-text-field--disabled) .mdc-text-field__input {
    color: rgb(3 1 1);
}

.mdc-text-field--filled .mdc-line-ripple::after {
    border-bottom-color: rgb(0 46 255 / 60%);
}

.mdc-text-field--focused:not(.mdc-text-field--disabled) 
.mdc-floating-label {
    color:rgb(0 46 255 / 60%);
}

.mdc-text-field--focused:not(.mdc-text-field--disabled) .mdc-floating-label {
    color:rgb(0 46 255 / 60%);
}
.form-control.rounded-input {
    border-radius: 20px;
}
.label-opaque {
    font-family: Montserrat,helvetica neue,Arial,sans-serif;
    font-weight: 400;
    color: #8b8b8b;
  }
  .success-toast {
    background-color: green;
    color: white;
}
::ng-deep snack-bar-container.alert-red{
    padding: 20px;
    background-color: green;
    color: white;
  }

  .card {
    padding: 20px;
    box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
    border-radius: 8px;
  }

  mat-form-field {
    margin-right: 12px;
  }
  .header-container {
    display: flex;
    align-items: center;
  }
  
  .header-right {
    flex-grow: 1;
  }
  
  .header-content {
    display: flex;
    justify-content: center;
  }
  
  .header-left {
    display: flex;
    align-items: center;
  }
  .disabled-field {
    background-color: #ebe9e9;
  }
  .green-button {
    color: green;
  }
  .red-button {
    color: red;
  }
  .example-form {
    min-width: 150px;
    max-width: 500px;
    width: 100%;
  }
  
  .example-full-width {
    width: 100%;
  }

  .mat-mdc-form-field:not(.mat-form-field-no-animations) .mdc-text-field__input {
    transition: opacity 150ms 0ms cubic-bezier(0.4, 0, 0.2, 1);
    text-transform: uppercase;
}

.center {
  display: grid;
  place-items: center;
  text-align: center;
  align-items: center;
  align-content: center;
}


.mat-mdc-dialog-content {
  max-height: 100vh;
  // position: relative;
  left: 11%;

}

.mat-mdc-dialog-container {
  position: relative;
  display: block;
}

.mdc-dialog, .mdc-dialog__scrim {
  /* position: fixed; */
  top: 0;
  left: 10%;
  align-items: center;
  justify-content: center;
  box-sizing: border-box;
  width: 100%;
  height: 100%;
}

.mat-mdc-tab-body-content {
  height: 100%;
  overflow: unset;
}

* {
  scrollbar-width: thin;
  scrollbar-color: #ffffff transparent;
}