<div class="card container registration-form">
  <mat-tab-group>
    <mat-tab label="Emisión Individual"> 
      <mat-stepper [linear]="isLinear" #stepper>
        <mat-step [stepControl]="personsFormGroup">
          <form [formGroup]="personsFormGroup">
            <ng-template matStepLabel>Datos Personales</ng-template>
            <div class="row">
                <div class="col-3">
                    <mat-form-field class="example-full-width">
                        <mat-label>Tipo Doc. Identidad</mat-label>
                        <input type="text"
                               placeholder="Seleccione"
                               aria-label="Seleccione"
                               matInput
                               [formControl]="identControl"
                               [matAutocomplete]="ident"
                               required>
                               <mat-autocomplete #ident="matAutocomplete" (optionSelected)="onIdentSelection($event)">
                                <mat-option *ngFor="let ident of filteredIdent | async" [value]="ident">
                                  {{ ident }}
                                </mat-option>
                              </mat-autocomplete>
                      </mat-form-field>
                </div>
                <div class="col-3">
                    <mat-form-field>
                        <mat-label>Identificación</mat-label>
                        <input matInput placeholder="Cédula" formControlName="xrif_cliente" (change)="searchPropietary()" required>
                    </mat-form-field>
                </div>
                <div class="col-3">
                    <mat-form-field>
                        <mat-label>Nombre</mat-label>
                        <input matInput placeholder="Nombre" formControlName="xnombre" required>
                    </mat-form-field>
                </div>
                <div class="col-3">
                    <mat-form-field>
                        <mat-label>Apellido</mat-label>
                        <input matInput placeholder="Apellido" formControlName="xapellido" required>
                    </mat-form-field>
                </div>
            </div>

            <div class="row">
                <div class="col-3">
                    <mat-form-field>
                        <mat-label>Teléfono</mat-label>
                        <input matInput placeholder="Teléfono" formControlName="xtelefono_emp" required>
                    </mat-form-field>
                </div>
                <div class="col-3">
                    <mat-form-field>
                        <mat-label>Correo</mat-label>
                        <input matInput placeholder="Correo" formControlName="email" required>
                    </mat-form-field>
                </div>
                <div class="col-3">
                    <mat-form-field class="example-full-width" *ngIf="firstTime">
                        <mat-label>Estado</mat-label>
                        <input type="text"
                               placeholder="Seleccione Estado"
                               aria-label="Seleccione"
                               matInput
                               [formControl]="stateControl"
                               [matAutocomplete]="state"
                               required>
                               <mat-autocomplete #state="matAutocomplete" (optionSelected)="onStateSelection($event)">
                                <mat-option *ngFor="let state of filteredState | async" [value]="state">
                                  {{ state }}
                                </mat-option>
                              </mat-autocomplete>
                      </mat-form-field>

                      <div class="form-outline" *ngIf="detail">
                        <label class="form-label required" for="form3Examplev3" style="color: rgba(0, 46, 255, 0.6);">Estado</label>
                        <select formControlName="cestado" class="form-control form-control-lg colorgris" >
                          <option></option>
                          <option *ngFor="let estado of stateList" value="{{ estado.id }}">{{ estado.value }}</option>
                        </select>                     
                      </div>
                </div>
                <div class="col-3">
                    <mat-form-field class="example-full-width" *ngIf="firstTime">
                        <mat-label>Ciudad</mat-label>
                        <input type="text"
                               placeholder="Seleccione Ciudad"
                               aria-label="Seleccione"
                               matInput
                               [formControl]="cityControl"
                               [matAutocomplete]="city"
                               required>
                               <mat-autocomplete #city="matAutocomplete" (optionSelected)="onCitySelection($event)">
                                <mat-option *ngFor="let city of filteredCity | async" [value]="city">
                                  {{ city }}
                                </mat-option>
                              </mat-autocomplete>
                      </mat-form-field>

                      <div class="form-outline" *ngIf="detail">
                        <label class="form-label required" for="form3Examplev3" style="color: rgba(0, 46, 255, 0.6);">Ciudad</label>
                            <select formControlName="cciudad" class="form-control form-control-lg colorgris">
                              <option></option>
                              <option *ngFor="let ciudad of cityList" value="{{ ciudad.id }}">{{ ciudad.value }}</option>
                            </select>                     
                      </div>
                </div>
            </div>

            <div class="row justify-content-center">
              <div class="col-6">
                  <mat-form-field class="example-full-width">
                      <mat-label>Dirección</mat-label>
                      <input matInput placeholder="Direccion" formControlName="xdireccion" required>
                  </mat-form-field>
              </div>
            </div>

            <div class="row justify-content-center py-5">
              <button mat-button matStepperNext>Continuar</button>
            </div>
          </form>
        </mat-step>
        <mat-step [stepControl]="vehicleFormGroup" label="Datos del Vehículo">
          <form [formGroup]="vehicleFormGroup">
            <div class="row">
              <div class="col-3">
                <mat-form-field>
                  <mat-label>N° de Cotizacion</mat-label>
                  <input matInput type="number" placeholder="N° de Cotizacion" formControlName="ccotizacion">
                </mat-form-field>
              </div>
              <div class="col-3">
                <mat-form-field>
                  <mat-label>Año</mat-label>
                  <input matInput type="number" placeholder="Año" formControlName="fano" [maxlength]="4" (change)="changeYears()" required>
                </mat-form-field>
              </div>
              <div class="col-3">
                  <mat-form-field class="example-full-width">
                    <mat-label>Marca</mat-label>
                    <input type="text"
                           placeholder="Seleccione Marca"
                           aria-label="Seleccione"
                           matInput
                           [formControl]="brandControl"
                           [matAutocomplete]="brand"
                           required>
                           <mat-autocomplete #brand="matAutocomplete" (optionSelected)="onBrandSelection($event)">
                            <mat-option *ngFor="let brand of filteredBrand | async" [value]="brand">
                              {{ brand }}
                            </mat-option>
                          </mat-autocomplete>
                  </mat-form-field>
              </div>
              <div class="col-3">
                <mat-form-field class="example-full-width">
                  <mat-label>Modelo</mat-label>
                  <input type="text"
                        placeholder="Seleccione Modelo"
                        aria-label="Seleccione"
                        matInput
                        [formControl]="modelControl"
                        [matAutocomplete]="model"
                        required>
                        <mat-autocomplete #model="matAutocomplete" (optionSelected)="onModelSelection($event)">
                          <mat-option *ngFor="let model of filteredModel | async" [value]="model">
                            {{ model }}
                          </mat-option>
                        </mat-autocomplete>
                </mat-form-field>
              </div>
            </div>

            <div class="row">
              <div class="col-3">
                <mat-form-field class="example-full-width">
                  <mat-label>Version</mat-label>
                  <input type="text"
                        placeholder="Seleccione Version"
                        aria-label="Seleccione"
                        matInput
                        [formControl]="versionControl"
                        [matAutocomplete]="version"
                        required>
                        <mat-autocomplete #version="matAutocomplete" (optionSelected)="onVersionSelection($event)">
                          <mat-option *ngFor="let version of filteredVersion | async" [value]="version">
                            {{ version }}
                          </mat-option>
                        </mat-autocomplete>
                </mat-form-field>
              </div>
              <div class="col-3">
                <mat-form-field class="example-full-width">
                  <mat-label>Pasajeros</mat-label>
                  <input matInput formControlName="npasajeros" >
                </mat-form-field>
              </div>
              <div class="col-3">
                <mat-form-field class="example-full-width">
                    <mat-label>Color</mat-label>
                    <input type="text"
                          placeholder="Seleccione Color"
                          aria-label="Seleccione"
                          matInput
                          [formControl]="colorControl"
                          [matAutocomplete]="color"
                          required>
                          <mat-autocomplete #color="matAutocomplete" (optionSelected)="onColorSelection($event)">
                            <mat-option *ngFor="let color of filteredColor | async" [value]="color">
                              {{ color }}
                            </mat-option>
                          </mat-autocomplete>
                  </mat-form-field>
              </div>
              <div class="col-3">
                <mat-form-field>
                  <mat-label>Placa</mat-label>
                  <input matInput placeholder="Placa" formControlName="xplaca" [maxlength]="7" (change)="searchVehicle()" required (input)="valueplate($event)">
                </mat-form-field>
              </div>
            </div>

            <div class="row justify-content-center">

            </div>

            <div class="card">
              <div class="card-header">
                  <h2 style="text-align: center;"><strong>Especificaciones del Vehículo</strong></h2>
              </div>
              <div class="row">
                <div class="col-3">
                  <mat-form-field class="example-full-width">
                    <mat-label>Serial de Carroceria</mat-label>
                    <input matInput placeholder="Serial de Carroceria" formControlName="xserialcarroceria" [maxlength]="17" required (input)="valueSerial($event)">
                  </mat-form-field>
                </div>
                <div class="col-3">
                  <mat-form-field class="example-full-width">
                    <mat-label>Serial de Motor</mat-label>
                    <input matInput placeholder="Serial de Motor" formControlName="xserialmotor" [maxlength]="17" required (input)="valueSerialMotor($event)">
                  </mat-form-field>
                </div>
                <div class="col-3">
                  <mat-form-field>
                    <mat-label>Coberturas</mat-label>
                    <mat-select formControlName="xcobertura" (selectionChange)="onCoverageChange()">
                      <mat-option value="Rcv">RCV</mat-option>
                      <mat-option value="Cobertura Amplia">COBERTURA AMPLIA</mat-option>
                      <mat-option value="Perdida Total">PERDIDA TOTAL</mat-option>
                    </mat-select>
                  </mat-form-field>
                </div>
                <div class="col-3" *ngIf="activateInspection">
                  <mat-form-field>
                    <mat-label>N° de Inspección</mat-label>
                    <input matInput type="number" placeholder="N° de Inspección" formControlName="cinspeccion" (change)="changeInspection()">
                  </mat-form-field>
                </div>
                <div class="col-3" *ngIf="activateRate">
                  <mat-form-field class="example-full-width">
                      <mat-label>Tarifas</mat-label>
                      <input type="text"
                            placeholder="Seleccione Tarifa"
                            aria-label="Seleccione"
                            matInput
                            [formControl]="ratesControl"
                            [matAutocomplete]="rates"
                            required>
                      <mat-autocomplete #rates="matAutocomplete" (optionSelected)="onRatesSelection($event)">
                        <mat-option *ngFor="let rates of filteredRates | async" [value]="rates">
                          {{ rates }}
                        </mat-option>
                      </mat-autocomplete>
                    </mat-form-field>
                </div>
                <div class="col-3" *ngIf="activateTypeVehicle">
                  <mat-form-field class="example-full-width">
                      <mat-label>Tipo de Vehiculo</mat-label>
                      <input type="text"
                            placeholder="Seleccione Tipo de Vehiculo"
                            aria-label="Seleccione"
                            matInput
                            [formControl]="typeVehicleControl"
                            [matAutocomplete]="typeVehicle"
                            required>
                      <mat-autocomplete #typeVehicle="matAutocomplete" (optionSelected)="onTypeVehicleSelection($event)">
                        <mat-option *ngFor="let typeVehicle of filteredTypeVehicle | async" [value]="typeVehicle">
                          {{ typeVehicle }}
                        </mat-option>
                      </mat-autocomplete>
                    </mat-form-field>
                </div>
                <div class="col-3">
                  <mat-form-field class="example-full-width">
                      <mat-label>Uso</mat-label>
                      <input type="text"
                            placeholder="Seleccione Uso"
                            aria-label="Seleccione"
                            matInput
                            [formControl]="utilityVehicleControl"
                            [matAutocomplete]="utility"
                            required>
                      <mat-autocomplete #utility="matAutocomplete" (optionSelected)="onUtilityVehicleSelection($event)">
                        <mat-option *ngFor="let utility of filteredUtilityVehicle | async" [value]="utility">
                          {{ utility }}
                        </mat-option>
                      </mat-autocomplete>
                    </mat-form-field>
                </div>
              </div>
            </div>

            <div class="row justify-content-center py-5">
              <div class="col-2">
                <button mat-button matStepperPrevious>Regresar</button>
              </div>
              <div class="col-1">
                <button mat-button matStepperNext>Continuar</button>
              </div>
            </div>
          </form>
        </mat-step>
        <mat-step [stepControl]="planFormGroup" label="Detalles del plan">
            <form [formGroup]="planFormGroup">
              <div class="row justify-content-center">
                <div class="col-4">
                  <mat-form-field class="example-full-width">
                    <mat-label>Corredores</mat-label>
                    <input type="text"
                          placeholder="Seleccione Corredor"
                          aria-label="Seleccione"
                          matInput
                          [formControl]="brokerControl"
                          [matAutocomplete]="broker"
                          required>
                    <mat-autocomplete #broker="matAutocomplete" (optionSelected)="onBrokerSelection($event)">
                      <mat-option *ngFor="let broker of filteredBroker | async" [value]="broker">
                        {{ broker }}
                      </mat-option>
                    </mat-autocomplete>
                  </mat-form-field>
                </div>
                <div class="col-4">
                  <mat-form-field class="example-full-width">
                    <mat-label>Planes</mat-label>
                    <input type="text"
                          placeholder="Seleccione Planes"
                          aria-label="Seleccione"
                          matInput
                          [formControl]="planControl"
                          [matAutocomplete]="plan"
                          required>
                    <mat-autocomplete #plan="matAutocomplete" (optionSelected)="onPlanSelection($event)">
                      <mat-option *ngFor="let plan of filteredPlan | async" [value]="plan">
                        {{ plan }}
                      </mat-option>
                    </mat-autocomplete>
                  </mat-form-field>
                </div>
                <div class="col-4">
                  <mat-form-field class="example-full-width">
                      <mat-label>Tomador</mat-label>
                      <input type="text"
                            placeholder="Seleccione Tomador"
                            aria-label="Seleccione"
                            matInput
                            [formControl]="takersControl"
                            [matAutocomplete]="takers"
                            required>
                      <mat-autocomplete #takers="matAutocomplete" (optionSelected)="onTakersSelection($event)">
                        <mat-option *ngFor="let takers of filteredTakers | async" [value]="takers">
                          {{ takers }}
                        </mat-option>
                      </mat-autocomplete>
                    </mat-form-field>
                </div>
              </div>

              <div class="row" *ngIf="takersInfo">
                <div class="col-3">
                  <mat-form-field>
                    <mat-label>Identificación</mat-label>
                    <input matInput type="text" placeholder="Identificación" formControlName="xrif_tomador">
                  </mat-form-field>
                </div>
                <div class="col-3">
                  <mat-form-field>
                    <mat-label>Correo</mat-label>
                    <input matInput type="text" placeholder="Correo" formControlName="xemail_tomador">
                  </mat-form-field>
                </div>
                <div class="col-3">
                  <mat-form-field class="example-full-width" >
                    <mat-label>Estado</mat-label>
                    <input type="text"
                           placeholder="Seleccione Estado"
                           aria-label="Seleccione"
                           matInput
                           [formControl]="stateTakerControl"
                           [matAutocomplete]="state"
                           required>
                           <mat-autocomplete #state="matAutocomplete" (optionSelected)="onStateSelectionTakers($event)">
                            <mat-option *ngFor="let state of filteredStateTaker | async" [value]="state">
                              {{ state }}
                            </mat-option>
                          </mat-autocomplete>
                  </mat-form-field>
                </div>
                <div class="col-3">
                  <mat-form-field class="example-full-width">
                    <mat-label>Ciudad</mat-label>
                    <input type="text"
                           placeholder="Seleccione Ciudad"
                           aria-label="Seleccione"
                           matInput
                           [formControl]="cityTakerControl"
                           [matAutocomplete]="cityTa"
                           required>
                           <mat-autocomplete #cityTa="matAutocomplete" (optionSelected)="onCitySelectionTakers($event)">
                            <mat-option *ngFor="let city of filteredCityTaker | async" [value]="city">
                              {{ city }}
                            </mat-option>
                          </mat-autocomplete>
                  </mat-form-field>
                </div>
              </div>

              <div class="row justify-content-center" *ngIf="takersInfo">
                <div class="col-4">
                    <mat-form-field>
                      <mat-label>Dirección</mat-label>
                      <input matInput type="text" placeholder="Dirección" formControlName="xdireccion_tomador">
                    </mat-form-field>
                </div>
                <div class="col-4">
                    <mat-form-field>
                      <mat-label>Zona Postal</mat-label>
                      <input matInput type="text" placeholder="Zona Postal" formControlName="xzona_postal_tomador">
                    </mat-form-field>
                </div>
                <div class="col-4">
                    <mat-form-field>
                      <mat-label>Teléfono</mat-label>
                      <input matInput type="text" placeholder="Teléfono" formControlName="xtelefono_tomador">
                    </mat-form-field>
                </div>
              </div>

              <mat-tab-group *ngIf="helmet">
                <mat-tab label="Tasas Casco"> 
                  <div style="display: flex;">
                    <div class="col-3">
                      <mat-form-field class="example-full-width">
                        <mat-label>Tarifa de Casco</mat-label>
                        <input matInput formControlName="pcasco">
                      </mat-form-field>
                    </div>
                    <div class="col-2">
                      <mat-form-field class="example-full-width">
                        <mat-label>Suma Asegurada</mat-label>
                        <input matInput placeholder="Suma Asegurada" formControlName="msuma_aseg"  required>
                      </mat-form-field>
                    </div>
                    <div class="col-3">
                      <mat-form-field class="example-full-width">
                        <mat-label>Prima</mat-label>
                        <input matInput formControlName="mprima_casco_text">
                      </mat-form-field>
                    </div>
                    <div class="col-2" *ngIf="discount" style="margin-left: 29px;">
                      <button mat-button [matMenuTriggerFor]="aboveMenu" style="margin-top: 25px;">Descuento</button>
                      <mat-menu #aboveMenu="matMenu" yPosition="above">
                        <mat-form-field style="margin-left: 14px;">
                          <mat-label>Descuento</mat-label>
                          <input matInput type="number" placeholder="Descuento" formControlName="pdescuento" (click)="$event.stopPropagation()" (change)="getDiscount()">
                        </mat-form-field>
                      </mat-menu>
                    </div>
                    <div class="col-1" *ngIf="enableInfo">
                      <button mat-icon-button [matMenuTriggerFor]="menu" aria-label="Example icon-button with a menu" style="margin-top: 25px;">
                        <mat-icon>more_vert</mat-icon>
                      </button>
                      <mat-menu #menu="matMenu" class="p-3">
                        <P><strong>Prima Bruta:  </strong>{{primaBruta}}$</P>
                        <P><strong>Descuento:  </strong>{{descuento}}%</P>
                      </mat-menu>
                    </div>
                  </div>
                </mat-tab>
                <mat-tab label="Blindaje"> 
                  <div style="display: flex;">
                    <div class="col-3">
                      <mat-form-field >
                        <mat-label>Tasa de blindaje</mat-label>
                        <input matInput type="number" formControlName="pblindaje">
                      </mat-form-field>
                    </div>
                    <div class="col-3">
                      <mat-form-field >
                        <mat-label>Suma Asegurada</mat-label>
                        <input matInput type="number" formControlName="msuma_blindaje" (change)="calculationPremiumsShielding()">
                      </mat-form-field>
                    </div>
                    <div class="col-3">
                      <mat-form-field >
                        <mat-label>Prima de Blindaje</mat-label>
                        <input matInput type="number" formControlName="mprima_blindaje">
                      </mat-form-field>
                    </div>
                  </div>
                </mat-tab>
                <mat-tab label="Accesorios">
                  <table class="accesories-table">
                    <thead>
                      <tr>
                        <th>Accesorio</th>
                        <th>Tasa</th>
                        <th>Suma Asegurada</th>
                        <th>Prima</th>
                      </tr>
                    </thead>
                    <tbody>
                      <tr *ngFor="let accessory of accesoriesList">
                        <td>{{ accessory.xaccesorio }}</td>
                        <td>{{ accessory.ptasa }}</td>
                        <td class="items">
                          <input matInput type="number" (change)="updateSumaAsegurada(accessory, $event)" placeholder="Ingrese valor" />
                        </td>
                        <td>{{ accessory.xprimaAccesorio }}</td>
                      </tr>
                    </tbody>
                  </table>
                </mat-tab>
              </mat-tab-group>

              <div class="row justify-content-center py-5">
                <div class="col-2">
                  <button mat-button matStepperPrevious>Regresar</button>
                </div>
                <div class="col-1">
                  <button mat-button matStepperNext>Continuar</button>
                </div>
              </div>

            </form>
        </mat-step>
        <mat-step [stepControl]="receiptFormGroup" label="Detalles del Recibo">
            <form [formGroup]="receiptFormGroup">
              <div class="row">
                <div class="col-3">
                  <label class="form-label required" for="form3Examplev5">Fecha Desde</label>
                  <input type="date" formControlName="fdesde" class="form-control form-control-lg" (ngModelChange)="calculateDate($event)" />
                </div>
                <div class="col-3">
                  <label class="form-label required" for="form3Examplev5">Fecha Hasta</label>
                  <input type="date" formControlName="fhasta" class="form-control form-control-lg" (ngModelChange)="prueba()" />
                </div>
                <div class="col-3">
                  <mat-form-field class="example-full-width">
                      <mat-label>Frecuencia de Pago</mat-label>
                      <input type="text"
                            placeholder="Seleccione Frecuencia de Pago"
                            aria-label="Seleccione"
                            matInput
                            [formControl]="methodOfPaymentControl"
                            [matAutocomplete]="methodOfPayment"
                            required>
                      <mat-autocomplete #methodOfPayment="matAutocomplete" (optionSelected)="onMethodOfPaymentSelection($event)">
                        <mat-option *ngFor="let methodOfPayment of filteredMethodOfPayment | async" [value]="methodOfPayment">
                          {{ methodOfPayment }}
                        </mat-option>
                      </mat-autocomplete>
                    </mat-form-field>
                </div>
                <div class="col-3" *ngIf="amountTotal">
                  <mat-form-field>
                    <mat-label>Modalidad de Pago</mat-label>
                    <mat-select formControlName="xpago" (selectionChange)="getPaymentSelection()">
                      <mat-option value="PAGO MANUAL">PAGO MANUAL</mat-option>
                      <mat-option value="UBII">UBII PAGOS</mat-option>
                    </mat-select>
                  </mat-form-field>
                </div>
              </div>

              <div class="row">
                <div class="col-3" *ngIf="amountTotal" style="margin-top: 34px;">
                  <P><strong>Monto Total:  </strong>{{montoTotal}}$</P>
                </div>
              </div>

              <div class="row justify-content-center">
                <div class="col-4" *ngIf="buttonEmissions">
                  <button mat-raised-button color="primary" (click)="onSubmit()" style="width: 42%; margin-top: 44px;margin-left: 89px;">Emitir</button>
                </div>
                <div class="col-sm-12 mt-2" *ngIf="bpagarubii">
                  <div style="width: 220px;height: 48px;margin-top: 10px;margin-left: 100px;" class="button">
                      <button id="ubiiboton" (click)="operationUbii()"></button>
                  </div> 
              </div>
                <div class="col-4" *ngIf="loadingEmissions">
                  <div id="container">
                    <label class="loading-title">Cargando</label>
                    <span class="loading-circle sp1">
                      <span class="loading-circle sp2">
                        <span class="loading-circle sp3"></span>
                      </span>
                    </span>
                  </div>
                </div>
                <div class="col-4" *ngIf="loadingPdf">
                  <div id="container">
                    <label class="loading-title">Generando Cuadro Póliza</label>
                    <span class="loading-circle sp1">
                      <span class="loading-circle sp2">
                        <span class="loading-circle sp3"></span>
                      </span>
                    </span>
                  </div>
                </div>
                <div class="col-4" *ngIf="check">
                  <div class="card-listo"> 
                    <button type="button" class="dismiss">×</button> 
                    <div class="header"> 
                      <div class="image">
                        <svg xmlns="http://www.w3.org/2000/svg" fill="none" viewBox="0 0 24 24"><g stroke-width="0" id="SVGRepo_bgCarrier"></g><g stroke-linejoin="round" stroke-linecap="round" id="SVGRepo_tracerCarrier"></g><g id="SVGRepo_iconCarrier"> <path stroke-linejoin="round" stroke-linecap="round" stroke-width="1.5" stroke="#000000" d="M20 7L9.00004 18L3.99994 13"></path> </g></svg>
                        </div> 
                        <div class="content">
                           <span class="title">Cuadro Póliza Generado</span> 
                           </div> 
                        </div> 
                    </div>
                  
                </div>
              </div>

              <div class="row justify-content-center py-5">
                <div class="col-2">
                  <button mat-button matStepperPrevious>Regresar</button>
                </div>
              </div>
            </form>
        </mat-step>
      </mat-stepper>  
    </mat-tab>
    <mat-tab label="Emisión Colectiva"> 
      <h2>En Desarrollo...</h2>
    </mat-tab>
  </mat-tab-group>

</div>

<ng-template #paymentModal let-modal>
  <div class="modal-header">
    <h4 class="modal-title">Pago Manual</h4>
    <button type="button" class="close" aria-label="Close" (click)="modal.dismiss()">
      <span aria-hidden="true">&times;</span>
    </button>
  </div>
  <div class="modal-body">
    <form [formGroup]="receiptFormGroup">
      <div class="col-12">
        <div class="form-outline">
          <label class="form-label required" for="form3Examplev3" style="color: rgba(0, 46, 255, 0.6);">Tipo de Pago</label>
          <select formControlName="ctipopago" class="form-control form-control-lg colorgris" (change)="getTargetBank()">
            <option></option>
            <option *ngFor="let type of typeOfPayList" value="{{ type.id }}">{{ type.value }}</option>
          </select>                     
        </div>
      </div>
      <div class="col-12">
        <div class="form-outline">
          <label class="form-label required" for="form3Examplev3" style="color: rgba(0, 46, 255, 0.6);">Banco</label>
          <select formControlName="cbanco" class="form-control form-control-lg colorgris">
            <option></option>
            <option *ngFor="let bank of bankList" value="{{ bank.id }}">{{ bank.value }}</option>
          </select>                     
        </div>
      </div>
      <div class="col-12">
        <div class="form-outline">
          <label class="form-label required" for="form3Examplev3" style="color: rgba(0, 46, 255, 0.6);">Banco Destino</label>
          <select formControlName="cbanco_destino" class="form-control form-control-lg colorgris">
            <option></option>
            <option *ngFor="let target of targetBankList" value="{{ target.id }}">{{ target.value }}</option>
          </select>                     
        </div>
      </div>
      <div class="col-12">
        <label class="form-label required" for="form3Examplev5">Fecha de Cobro</label>
        <input type="date" formControlName="fcobro" class="form-control form-control-lg" (ngModelChange)="configurationCollectionDate($event)"/>
      </div>
      <div class="col-12">
        <mat-form-field class="example-full-width">
          <mat-label>Referencia</mat-label>
          <input matInput placeholder="Referencia" formControlName="xreferencia">
        </mat-form-field>
      </div>
      <div class="row">
        <div class="col-6" style="margin-top: 34px;">
          <P><strong>Monto en Dólares:  </strong>{{montoTotal}}$</P>
        </div>
        <div class="col-6">
          <mat-form-field >
            <mat-label>Monto en Bolívares</mat-label>
            <input matInput type="number" formControlName="mprima_bs">
          </mat-form-field>
        </div>
      </div>
    </form>
  </div>
  <div class="modal-footer">
    <button type="button" class="btn btn-primary" (click)="modal.close('result')">Aceptar</button>
  </div>
</ng-template>